<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" (click)="dismiss()" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title>View SDG Targets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor= "let t of projectTargets">
    <ion-card-header class="sdg{{t.SDG}}">
      <ion-card-title style="color: white">{{t.SDG}}.{{t.targetCode}}</ion-card-title>
    </ion-card-header>
    <ion-card-content><p style="padding-top: 10px">{{t.desc}}</p></ion-card-content>
  </ion-card>
</ion-content>
