<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Write Testimonial for {{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Write Testimonial for {{name}}</ion-card-title>
        <ion-card-subtitle>Choose a common Project</ion-card-subtitle>
        <ion-select placeholder="Select Common Project" id="p" name="p" [(ngModel)]="p">
          <ion-select-option *ngFor="let p of commonProjectsList" [value]="p.id"> {{p.title}}</ion-select-option>
        </ion-select>
        <ion-label>Details:</ion-label>
        <ion-textarea [(ngModel)]="words"></ion-textarea>
        <ion-button expand=full (click)="writeTestimonial()">Send Testimonial</ion-button>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
</ion-content>
