<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" (click)="backNav()" style="padding-left:10px"></ion-icon>
      <!--<ion-back-button></ion-back-button>-->
    </ion-buttons>
    <div *ngIf="yourAccountBoolean==false" slot="end">
      <ion-button slot="end" (click)= "purchase()" color="primary">Purchase</ion-button>
    </div>
    <ion-title>
      <div class="ion-text-wrap">
        View Paid Resource Details
      </div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div *ngIf="noPaidResourcePicBoolean == true">
      <img src='./assets/img/cash.jpg' />
    </div>
    <ion-slides *ngIf="viewEntered" pager=true paginationType=bullets zoom>
      <ion-slide class="{{paidResource.status}}" *ngFor ="let i of paidResource.imgPath" >
        <ion-img [src]=i onerror="this.src='./assets/img/cash.jpg'" ></ion-img>
      </ion-slide>
    </ion-slides>
      <div>
        <ion-label *ngIf="yourAccountBoolean==true"  style="text-decoration: underline; float:right" (click)="upload($event)"><ion-icon name="camera"></ion-icon>Upload Resource Picture</ion-label>
        <ion-badge class="{{paidResource.status}}">{{paidResource.status}}</ion-badge>
      </div>
      <ion-card-header>
      <ion-card-title>{{paidResource.title}}</ion-card-title>
      <ion-card-title style="color:#28ba62">USD$ {{paidResource.price}}</ion-card-title>
      <div class="aligned" *ngIf ="resourceType !='knowledge'" (click)="viewFounderProfile()">
        <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=paidResource.ownerImg  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
        <ion-title>{{paidResource.ownerName}}<ion-icon name="checkmark-circle" size="big" style="padding-left: 5px;"></ion-icon> </ion-title>
      </div>
      <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(paidResource.updatedAt)}}</ion-badge></ion-card-subtitle>
    </ion-card-header>

      <ion-item-divider>
        <ion-label>Details</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <div>
        <p>{{paidResource.desc}}</p>
        <p>Country: {{paidResource.country}}<br>
          Category: {{paidResource.category}}</p>
      </div>
      </ion-item>
      <br>
      <br>
      <div *ngIf="yourAccountBoolean==true">
        <ion-fab *ngIf="yourAccountBoolean==true" vertical="bottom" horizontal="end" slot="fixed">
          <ion-button>
            <ion-icon name="arrow-back-circle">More</ion-icon>
          </ion-button>
          <ion-fab-list side="start">
            <ion-button color=danger (click)="delete($event)"><ion-icon slot="end" name="trash" ></ion-icon>Delete</ion-button>
            <ion-button (click)="toEditResource($event)"><ion-icon name="create-sharp"></ion-icon>Edit</ion-button>
          </ion-fab-list>
        </ion-fab>
      </div>
  </ion-card>

  <div *ngIf="yourAccountBoolean==true">
    <ion-item-divider color="primary">
      <ion-title style="color: white;">Requests for this resource</ion-title>
    </ion-item-divider>
      <ion-segment value="incoming" [(ngModel)]="requestType" color="primary">
        <ion-segment-button value="incoming" checked>
          <ion-label>Incoming Request</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list  [ngSwitch]="requestType">
          <ion-item-divider>
              <ion-segment value="pending" [(ngModel)]="inStatus" (ionChange)="segmentChanged($event)" color="secondary">
                <ion-segment-button value="pending" checked>
                  Pending
                </ion-segment-button>
                <ion-segment-button value="accepted">
                  Accepted
                </ion-segment-button>
                <ion-segment-button value="declined">
                  Declined
                </ion-segment-button>
                <ion-segment-button value="cancelled">
                  Cancelled
                </ion-segment-button>
                <ion-segment-button value="paid">
                  Paid
                </ion-segment-button>
              </ion-segment>
        </ion-item-divider>
        <ion-list [ngSwitch]="inStatus">
            <div *ngSwitchCase="'pending'">
              <div *ngIf="pendingRequests == undefined || pendingRequests.length == 0" style="padding-left: 15px;">
                <ion-label>You do not have any pending requests to purchase this resource!</ion-label>
              </div>
              <div *ngFor="let p of pendingRequests" >
              <ion-card >
                <ion-card-header>
                  <ion-card-title (click)="viewProject($event, p)">Project: {{p.projectTitle}}</ion-card-title>
                  <ion-badge class="{{p.status}}">{{p.status}}</ion-badge>
                  
                </ion-card-header>
    
                <ion-card-content>
                  <div class="aligned">
                    <div style="padding: 0px 5px 10px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewProfile($event, p)" style="width: 40px; height: 40px; object-fit: cover;" [src]=p.buyerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
                    <div>
                      <div class = "aligned">
                        <ion-label style="font-weight: bold" (click)="viewProfile($event, p)">{{p.buyerUsername}}</ion-label>
                        <ion-icon name="checkmark-circle" size="big"></ion-icon>
                      </div>
                      <ion-label>Project Founder</ion-label>
                    </div> 
                  </div>
                  <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(p.updatedAt)}}</ion-badge></ion-card-subtitle>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-button (click)="presentAcceptRequest($event,p)" expand="full">Accept</ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button (click)="presentDeclineRequest($event,p)" expand="full" color="danger">Decline</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
                </ion-card-content>
              </ion-card>
              </div>
            </div>
            <div *ngSwitchCase="'accepted'">
              <div *ngIf="acceptedRequests == undefined || acceptedRequests.length == 0" style="padding-left: 15px;">
                <ion-label>You do not have any accepted requests to purchase this resource!</ion-label>
              </div>
              <div *ngFor="let a of acceptedRequests" >
              <ion-card >
                <ion-card-header>
                  <ion-card-title (click)="viewProject($event, a)">Project: {{a.projectTitle}}</ion-card-title>
                  <ion-badge class="{{a.status}}">{{a.status}}</ion-badge>
                  
                </ion-card-header>
    
                <ion-card-content>
                  <div class="aligned">
                    <div style="padding: 0px 5px 10px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewProfile($event, a)" style="width: 40px; height: 40px; object-fit: cover;" [src]=a.buyerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
                    <div>
                      <div class = "aligned">
                        <ion-label style="font-weight: bold" (click)="viewProfile($event, a)">{{a.buyerUsername}}</ion-label>
                        <ion-icon name="checkmark-circle" size="big"></ion-icon>
                      </div>
                      <ion-label>Project Founder</ion-label>
                    </div> 
                  </div>
                  <ion-card-subtitle>Accepted on: <ion-badge color="dark">{{formatDate(a.updatedAt)}}</ion-badge></ion-card-subtitle>
                  <ion-button (click)="presentCancelRequest($event,a)" expand="full" color="danger">Cancel Accepted Request</ion-button>

                </ion-card-content>
              </ion-card>
              </div>
            </div>
            <div *ngSwitchCase="'declined'">
              <div *ngIf="declinedRequests == undefined || declinedRequests.length == 0" style="padding-left: 15px;">
                <ion-label>You do not have any declined requests to purchase this resource!</ion-label>
              </div>
              <div *ngFor="let d of declinedRequests" >
              <ion-card >
                <ion-card-header>
                  <ion-card-title (click)="viewProject($event, d)">Project: {{d.projectTitle}}</ion-card-title>
                  <ion-badge class="{{d.status}}">{{d.status}}</ion-badge>
                  
                </ion-card-header>
    
                <ion-card-content>
                  <div class="aligned">
                    <div style="padding: 0px 5px 10px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewProfile($event, d)" style="width: 40px; height: 40px; object-fit: cover;" [src]=d.buyerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
                    <div>
                      <div class = "aligned">
                        <ion-label style="font-weight: bold" (click)="viewProfile($event, d)">{{d.buyerUsername}}</ion-label>
                        <ion-icon name="checkmark-circle" size="big"></ion-icon>
                      </div>
                      <ion-label>Project Founder</ion-label>
                    </div> 
                  </div>
                  <ion-card-subtitle>Declined on: <ion-badge color="dark">{{formatDate(d.updatedAt)}}</ion-badge></ion-card-subtitle>
                  
                </ion-card-content>
              </ion-card>
              </div>
            </div>
            <div *ngSwitchCase="'cancelled'">
              <div *ngIf="cancelledRequests == undefined || cancelledRequests.length == 0" style="padding-left: 15px;">
                <ion-label>You do not have any cancelled requests!</ion-label>
              </div>
              <div *ngFor="let c of cancelledRequests" >
              <ion-card >
                <ion-card-header>
                  <ion-card-title (click)="viewProject($event,c)">Project: {{c.projectTitle}}</ion-card-title>
                  <ion-badge class="{{c.status}}">{{c.status}}</ion-badge>
                  
                </ion-card-header>
    
                <ion-card-content>
                  <div class="aligned">
                    <div style="padding: 0px 5px 10px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewProfile($event, c)" style="width: 40px; height: 40px; object-fit: cover;" [src]=c.buyerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
                    <div>
                      <div class = "aligned">
                        <ion-label style="font-weight: bold" (click)="viewProfile($event, c)">{{c.buyerUsername}}</ion-label>
                        <ion-icon name="checkmark-circle" size="big"></ion-icon>
                      </div>
                      <ion-label>Project Founder</ion-label>
                    </div> 
                  </div>
                  <ion-card-subtitle>Cancelled by: {{c.cancelType}}</ion-card-subtitle>
                  <ion-card-subtitle>Cancelled on: <ion-badge color="dark">{{formatDate(c.updatedAt)}}</ion-badge></ion-card-subtitle>
                </ion-card-content>
              </ion-card>
              </div>
            </div>
            <div *ngSwitchCase="'paid'">
              <div *ngIf="paidRequests == undefined || paidRequests.length == 0" style="padding-left: 15px;">
                <ion-label>You do not have any paid requests!</ion-label>
              </div>
              <div *ngFor="let pr of paidRequests" >
              <ion-card >
                <ion-card-header>
                  <ion-card-title (click)="viewProject($event, pr)">Project: {{pr.projectTitle}}</ion-card-title>
                  <ion-badge class="{{pr.status}}">{{pr.status}}</ion-badge>
                  
                </ion-card-header>
    
                <ion-card-content>
                  <div class="aligned">
                    <div style="padding: 0px 5px 10px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewProfile($event, pr)" style="width: 40px; height: 40px; object-fit: cover;" [src]=pr.buyerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
                    <div>
                      <div class = "aligned">
                        <ion-label style="font-weight: bold" (click)="viewProfile($event, pr)">{{pr.buyerUsername}}</ion-label>
                        <ion-icon name="checkmark-circle" size="big"></ion-icon>
                      </div>
                      <ion-label>Project Founder</ion-label>
                    </div> 
                  </div>
                  <ion-card-subtitle>Paid on: {{formatDate(pr.updatedAt)}}</ion-card-subtitle>
                </ion-card-content>
              </ion-card>
              </div>
            </div>
        </ion-list>
       </ion-list>
  </div>
</ion-content>
<ion-footer><ion-button routerLink="/tabs/profile" color="light" expand="full"></ion-button></ion-footer>
