<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resource Needs Management</ion-title>
    <ion-buttons label="Create" slot="end">
      <ion-icon name="add-circle-outline" slot="end" (click)="create($event)">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let r of resourceNeeds">
    <ion-card-title style="padding-left: 10px;">{{r.title}}</ion-card-title>
    <ion-badge style="float: right;" class="{{r.type}}type">{{r.type}}</ion-badge>
    <ion-card-content>{{r.desc}}</ion-card-content>
    <ion-card-content>Completion: {{r.completion}} %</ion-card-content>
    <ion-card-content *ngIf='(r.type == "money")'>Total: {{r.total}} | Received Sum: {{r.receivedSum}} | Pending Sum: {{r.pendingSum}}</ion-card-content>
    <ion-button (click)="markAsComplete($event, r)">Mark as Complete</ion-button>
    
    <ion-toolbar>
      <ion-buttons slot="end" >
        <ion-icon slot="end" name="create-outline" (click)="update($event, r)"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" >
        <ion-icon slot="end" name="trash" (click)="delete($event, r)"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>