<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Resource Needs Management</ion-title>
    <ion-buttons label="Create" slot="end">
      <ion-icon name="add-circle-outline" slot="end" style="padding-right: 10px;" (click)="create($event)">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor = "let r of resourceNeeds">
    <ion-badge style="float: right;" class="{{r.type}}type">{{r.type}}</ion-badge>
    <ion-card-header>
      <ion-card-title>{{r.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{r.desc}}</p>
      <p>Completion: {{r.completion}} %</p>
      <p *ngIf='(r.type == "money")'>Total: $ {{r.total}} | Received Sum: $ {{r.receivedSum}} | Pending Sum: $ {{r.pendingSum}}</p>
      <p *ngIf='(r.type == "money")'>Remaining Sum Needed:  $ {{r.total - r.receivedSum - r.pendingSum}}</p>
      <div *ngIf="(r.completion != 100)"><ion-button  (click)="markAsComplete($event, r)">Mark as Complete</ion-button></div>
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons slot="end" >
        <ion-icon slot="end" name="create-outline" (click)="update($event, r)"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" >
        <ion-icon slot="end" name="trash" (click)="delete($event, r)"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
</ion-content>