<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title slot="start">{{ username }}</ion-title>
      <ion-icon *ngIf="isVerified == true" name="checkmark-circle" size="big"></ion-icon>
    </ion-buttons>
      
      

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-card>
  <!--<ion-buttons>
    <ion-icon size=large name="share-social-outline" (click)="presentActionSheet()" style="padding-top: 10px;padding-left:10px"></ion-icon>
  </ion-buttons>-->
  <img class="card-img-top rounded-circle img-fluid d-block center" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
    <div class="centered">
      
      <h3 *ngIf="accountBoolean == false" class="name">{{ name }} | {{salutation}}</h3>
      <h3 *ngIf="accountBoolean == true" class="name">{{ name }}</h3>
      <h6 *ngIf="accountBoolean == true">{{address}}</h6>
      <h6>{{ country }}</h6>
      <h6 *ngIf="accountBoolean == false"><a href={{website}}>{{ website }}</a></h6>
      <h6 *ngIf="accountBoolean == true"><a href={{website}}>{{ website }}</a> | {{phone}}</h6>
      <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of sdgs">SDG {{sdg}}&nbsp;</ion-badge>
    </div>
</ion-card>
<ion-item (click)="getProjects($event)" routerDirection="forward">
  <ion-icon name="list" slot="start"></ion-icon>
  <ion-label>Projects</ion-label>
</ion-item>

<ion-item (click)="getResources($event)">
  <ion-icon  name="cube" slot="start"></ion-icon>
  <ion-label>Resources</ion-label>
</ion-item>

  <ion-item *ngIf="accountBoolean == true" (click)="getAffiliates($event)">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Affiliated Users</ion-label>
  </ion-item>

<ion-list>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>About Me</ion-label>
    </ion-item-divider>

    <ion-item *ngIf="accountBoolean == false" lines="none">
      <p>Occupation: {{occupation}}</p>
    </ion-item>
    <ion-item *ngIf="accountBoolean == false" lines="none">
      <p>Skills: {{skills}}</p>
    </ion-item>
    <ion-item lines="none">
      <p>Bio: {{bio}}</p>
    </ion-item>

    <ion-item-divider>
      <ion-label>Badges</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let b of badges" lines="none">
      <div>
      <img [src]=b.imgPath />
      <p style="padding-left: 5px">Tier: {{b.title}}</p>
    </div>
      
    </ion-item>
    <ion-item-divider>
      <ion-card-title>Profile Feed</ion-card-title>
    </ion-item-divider>
      <ion-card *ngFor="let pf of profileFeed">
            <div class="aligned">
                <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
                <ion-label >{{currentUser.name}}</ion-label>
              </div>
            
            <ion-card-title>{{pf.title}} </ion-card-title>
          <ion-card-content>{{pf.desc}}</ion-card-content>
          <div style="text-align: right"><ion-label>{{pf.createdAt}}</ion-label></div>
          

      </ion-card>

  </ion-item-group>
</ion-list>


</ion-content>
