<ion-header [translucent]="true">
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
        <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title slot="start">{{ username }}</ion-title>
        <ion-icon *ngIf="isVerified == true" name="checkmark-circle" size="big"></ion-icon>

      <div slot="end">
        <ion-button  color="danger" (click)="report()"><ion-icon name="alert-circle-outline"></ion-icon>Report</ion-button>
      </div>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-card>
  <ion-button expand="full" (click)="openChat()">
    <ion-icon name="chatbubbles-sharp"></ion-icon>Chat with {{name}}
  </ion-button>
  <img class="card-img-top rounded-circle img-fluid d-block center" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
    <div class="centered">
      
      <h3 *ngIf="accountBoolean == false" class="name">{{ name }} | {{salutation}}</h3>
      <h3 *ngIf="accountBoolean == true" class="name">{{ name }}</h3>
      <h6 *ngIf="accountBoolean == true">{{address}}</h6>
      <h6>{{ country }}</h6>
      <h6 *ngIf="accountBoolean == false"><a href={{website}}>{{ website }}</a></h6>
      <h6 *ngIf="accountBoolean == true"><a href={{website}}>{{ website }}</a> | {{phone}}</h6>
      <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of sdgs">SDG {{sdg}}&nbsp;</ion-badge>
      <br>
      <ion-button (click)="presentModal($event)">
        <ion-icon name="golf-outline" slot="start"></ion-icon>
        <ion-label>Targets</ion-label>
      </ion-button>
    </div>
</ion-card>

<ion-card>
  <ion-item *ngIf="accountBoolean == true" (click)="getAffiliates($event)">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Affiliated Users</ion-label>
  </ion-item>

    <ion-item-divider>
      <ion-label>About Me</ion-label>
    </ion-item-divider>

    <ion-item *ngIf="accountBoolean == false" lines="none">
      <p>Occupation: {{occupation}}</p>
    </ion-item>
    <ion-item *ngIf="accountBoolean == false" lines="none">
      <p>Skills: {{skills}}</p>
    </ion-item>
    <ion-item lines="none">
      <p>Bio: {{bio}}</p>
    </ion-item>

    <ion-item-divider>
      <ion-label>Badge</ion-label>
    </ion-item-divider>

    <ion-item *ngFor="let b of badges" lines="none">
      <div>
      <img [src]=b.imgPath />
      <p style="padding-left: 5px">Tier: {{b.title}}</p>
    </div>
      
    </ion-item>
</ion-card>

<ion-toolbar>
  <ion-segment [(ngModel)]="page">
    <ion-segment-button value="feed" checked>
      <ion-label>Profile Feed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="involvement">
      <ion-label>Involvement</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
  <ion-list [ngSwitch]="page">
    <ion-item-group *ngSwitchCase="'feed'" >
    <ion-card *ngFor="let pf of profileFeed">
      <div class="aligned">
        <div style="padding-top: 10px; padding-left: 15px;">  
          <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">    
        </div>  
        <ion-label  style="padding-left: 5px; font-weight: bold" >{{currentUser.name}}</ion-label>
        <ion-icon *ngIf="isVerified == true" name="checkmark-circle" size="big"></ion-icon>
      </div>
      <ion-card-header>
        <ion-card-title>{{pf.title}} </ion-card-title>
        <ion-badge>{{pf.createdAt}}</ion-badge>
      </ion-card-header>
        <ion-card-content>{{pf.desc}}</ion-card-content> 
    </ion-card>
  </ion-item-group>
  <ion-item-group *ngSwitchCase="'involvement'" >
    <ion-item (click)="getProjects($event)" routerDirection="forward">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>Projects</ion-label>
    </ion-item>
    
    <ion-item (click)="getResources($event)">
      <ion-icon  name="cube" slot="start"></ion-icon>
      <ion-label>Resources</ion-label>
    </ion-item>
  </ion-item-group>
  </ion-list>
</ion-content>
