<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Targets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">SDGs</ion-label>
    <ion-select placeholder="Filter by SDG" id="s" name="s" [(ngModel)]="sdgs" (ionChange)= "filterSDGS(sdgs)" multiple="true">
      <ion-select-option *ngFor="let s of sdgs" [value]="s">SDG {{s}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-list *ngFor= "let t of targetsList">
    <ion-card>
      <ion-card-title>{{t.SDG}}.{{t.targetCode}}</ion-card-title>
      <p>{{t.desc}}</p>
      <ion-checkbox checked="false" [ngModel]="t.isChecked" (ionChange)="onChange(t)"></ion-checkbox>
    </ion-card>
  </ion-list>
  <ion-button expand="full" (click)="updateTargets()">Update Targets</ion-button>
</ion-content>
