.logo-img{
    display: block;
    width: 120px;
    margin: 10px auto;
    text-align: center;
}

.content {
    margin: auto;
    width: 90%;
}

.background{
    width: 100%;
    height: 100%;
    opacity: 0.5;
   }
