<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: right;">About KoCoSD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="background" src="assets/img/cover 5.jpg"/> -->
  
  <div class="content">
    <img class="logo-img" src="assets/img/KoCoSD rounded.png">
    <p>
    The Knowledge Community for Sustainable Development Consortium (KoCoSD) was formed when a group of non-governmental organisations (NGOs) and non-profit organisations (NPOs) in Singapore came together with a common objective of developing a knowledge community for sustainable development.
    </p>
    <p>
    The group hopes that the knowledge community will bring together stakeholders from all over 6 the world, and tap on their collective wisdom and resources to achieve the 17 Sustainable Development Goals (SDGs) defined by the United Nations (UN). These 17 SDGs are also known as the Global Goals, and were adopted by all UN Member States in 2015 as a universal call to action to end poverty, protect the planet and ensure that all people enjoy peace and prosperity by 2030.
    </p>
    <p>
    This platform allows individual and institutional stakeholders to list projects and resources, with a matching algorithm that will connect relevant projects and resources together. We welcome all who are looking for resources for their projects, or are looking to offer resources, to join our platform and collaborate towards a worthy cause.
    </p>

    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-1-no-poverty.html" style="color:white"><ion-card-header class="sdg1">
        <ion-label style="color:white">SDG 1</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>No Poverty</ion-card-title>
        End poverty in all its forms everywhere
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-2-zero-hunger.html" style="color:white"><ion-card-header class="sdg2">
        <ion-label style="color:white">SDG 2</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Zero Hunger</ion-card-title>
        End hunger, achieve food security and improved nutrition, and improve agriculture
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-3-good-health-and-well-being.html" style="color:white"><ion-card-header class="sdg3">
        <ion-label style="color:white">SDG 3</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Good Health and Well-being</ion-card-title>
        Ensure healthy lives and promote well-being for all at all ages
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-4-quality-education.html" style="color:white"><ion-card-header class="sdg4">
        <ion-label style="color:white">SDG 4</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Quality Education</ion-card-title>
        Ensure inclusive and equitable quality education and promote lifelong learning opportunities for all
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-5-gender-equality.html" style="color:white"><ion-card-header class="sdg5">
        <ion-label style="color:white">SDG 5</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Gender Equality</ion-card-title>
        End all gender-based discrimination and empowering women and girls for a more sustainable future for all
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-6-clean-water-and-sanitation.html" style="color:white"><ion-card-header class="sdg6">
        <ion-label style="color:white">SDG 6</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Clean Water and Sanitation</ion-card-title>
        Ensure the availability of safe and affordable drinking water for all
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-7-affordable-and-clean-energy.html" class="text-white" style="color:white"><ion-card-header class="sdg7">
        <ion-label style="color:white">SDG 7</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Affordable and Clean Energy</ion-card-title>
        Ensure access to affordable, reliable, sustainable and modern energy for all
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-8-decent-work-and-economic-growth.html" style="color:white"><ion-card-header class="sdg8">
        <ion-label style="color:white">SDG 8</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Decent Work and Economic Growth</ion-card-title>
        Ensuring the availability of safe and affordable drinking water for all
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-9-industry-innovation-and-infrastructure.html" style="color:white"><ion-card-header class="sdg9">
        <ion-label style="color:white">SDG 9</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Industry, Innovation and Infrastructure</ion-card-title>
        Build resilient infrastructure, promote inclusive and sustainable industrialization and foster innovation
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-10-reduced-inequalities.html" style="color:white"><ion-card-header class="sdg10">
        <ion-label style="color:white">SDG 10</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Reduced Inequalities</ion-card-title>
        Reduce inequality in and among countries
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-11-sustainable-cities-and-communities.html" style="color:white"><ion-card-header class="sdg11">
        <ion-label style="color:white">SDG 11</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Sustainable Cities and Communities</ion-card-title>
        Make cities and human settlements inclusive, safe, resilient and sustainable
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-12-responsible-consumption-and-production.html" style="color:white"><ion-card-header class="sdg12">
        <ion-label style="color:white">SDG 12</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Responsible Consumption and Production</ion-card-title>
        Ensure sustainable consumption and production patterns
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-13-climate-action.html" style="color:white"><ion-card-header class="sdg13">
        <ion-label style="color:white">SDG 13</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Climate Action</ion-card-title>
        Take urgent action to combat climate change and its impacts
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-14-life-below-water.html" style="color:white"><ion-card-header class="sdg14">
        <ion-label style="color:white">SDG 14</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Life Below Water</ion-card-title>
        Conserve and sustainably use the oceans, seas, and marine resources for sustainable development
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-15-life-on-land.html" style="color:white"><ion-card-header class="sdg15">
        <ion-label style="color:white">SDG 15</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Life on Land</ion-card-title>
        Protect, restore and promote sustainable use of terrestial ecosystems, sustainably manage forests, combat desertification, and halt and reverse land degredation and halt biodiversity loss
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-16-peace-justice-and-strong-institutions.html" style="color:white"><ion-card-header class="sdg16">
        <ion-label style="color:white">SDG 16</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Peace, Justice and Strong Institutions</ion-card-title>
        Promote peaceful and inclusive societies for sustainable development, provide access to justice for all and build effective, accountable and inclusive institutions at all levels
      </ion-card-content>
    </ion-card>
    <ion-card>
      <a href="https://www.undp.org/content/undp/en/home/sustainable-development-goals/goal-17-partnerships-for-the-goals.html" style="color:white"><ion-card-header class="sdg17">
        <ion-label style="color:white">SDG 17</ion-label>
      </ion-card-header></a>

      <ion-card-content>
        <ion-card-title>Partnerships for the Goals</ion-card-title>
        Strengthen the means of implementation and revitalize the global partnership for sustainable development
      </ion-card-content>
    </ion-card>

    

  </div>
</ion-content>
