<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title>My Projects</ion-title>
    <ion-buttons label="Create" slot="end">
      <ion-icon name="add-outline" slot="end" routerLink="/project-creation">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list>
    <h2 style="padding-left:10px">Current Projects</h2>
    <div *ngIf="noCurrProjectBoolean == true">
        <ion-label style="padding-left: 15px;">You have no current projects! Start Creating Projects now!</ion-label>
    </div>
    <div *ngFor="let c of currProjects">
      <ion-card>
        <img [src]=c.imgPath onerror="this.src='./assets/img/projects.jpg'" />
      <ion-card-header>
        <ion-card-title (click)="view($event, c)">{{c.title}}</ion-card-title>
        <ion-card-subtitle>{{c.role}}</ion-card-subtitle>
        <ion-badge *ngFor="let s of c.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
      </ion-card-header>

      <ion-card-content>
        {{c.desc}}
      </ion-card-content>
      
    </ion-card>
    </div>

    <h2 style="padding-left:10px">Past Involvements</h2>
    <div *ngIf="noPastProjectBoolean == true">
      <ion-label style="padding-left: 15px;">You have no previous projects! Start Creating Projects now!</ion-label>
    </div>
    <div *ngFor="let p of pastProjects">
    <ion-card>
        <img [src]=p.imgPath class="inactive" onerror="this.src='./assets/img/projects.jpg'" />
      <ion-card-header>
        <ion-card-title (click)="view($event, p)">{{p.title}}</ion-card-title>
        <ion-card-subtitle>{{p.role}}</ion-card-subtitle>
        <ion-badge *ngFor="let s of p.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
      </ion-card-header>

      <ion-card-content>{{p.desc}}</ion-card-content>
    </ion-card>
    </div>
  </ion-list>
  
</ion-content>
