<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}'s Projects</ion-title>
    <ion-buttons *ngIf="user.data.user.id == id"label="Create" slot="end">
      <ion-icon name="add-circle-outline" slot="end" routerLink="/project-creation">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="currProj" checked>
        <ion-label>Current Projects</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pastProj">
        <ion-label>Past Projects</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list [ngSwitch]="type">
    <div *ngSwitchCase="'currProj'">
    <h2 style="padding-left:10px">Current Projects</h2>
    <div *ngIf="noCurrProjectBoolean == true">
        <ion-label style="padding-left: 15px;">You have no current projects! Start Creating Projects now!</ion-label>
    </div>
    <ion-searchbar (ionInput)="filterCurrList($event)" placeholder="Search"></ion-searchbar>
    <div *ngFor="let c of currentProjectsList">
      <ion-card (click)="view($event, c)">
        <img [src]=c.imgPath onerror="this.src='./assets/img/projects.jpg'" />
      <ion-card-header>
        <ion-card-title >{{c.title}}</ion-card-title>
        <ion-card-subtitle>{{c.role}}</ion-card-subtitle>
        <ion-badge *ngFor="let s of c.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
      </ion-card-header>

      <ion-card-content>
        {{c.desc}}
      </ion-card-content>
      
    </ion-card>
    </div>
  </div>
    <div *ngSwitchCase="'pastProj'">
    <h2 style="padding-left:10px">Past Involvements</h2>
    <div *ngIf="noPastProjectBoolean == true">
      <ion-label style="padding-left: 15px;">You have no previous projects! Start Creating Projects now!</ion-label>
    </div>
    <ion-searchbar (ionInput)="filterPastList($event)" placeholder="Search"></ion-searchbar>
    <div *ngFor="let p of pastProjectsList">
    <ion-card (click)="view($event, p)">
        <img [src]=p.imgPath class="inactive" onerror="this.src='./assets/img/projects.jpg'" />
      <ion-card-header>
        <ion-card-title >{{p.title}}</ion-card-title>
        <ion-card-subtitle>{{p.role}}</ion-card-subtitle>
        <ion-badge *ngFor="let s of p.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
      </ion-card-header>

      <ion-card-content>{{p.desc}}</ion-card-content>
    </ion-card>
    </div>
  </div>
  </ion-list>
  
</ion-content>
