<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><div class="ion-text-wrap">{{name}}'s Project Involvements</div></ion-title>
    <ion-buttons *ngIf="user.data.user.id == id"label="Create" slot="end">
      <ion-icon name="add-circle-outline" style ="padding-right: 10px" slot="end" routerLink="/project-creation">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="currProj" checked>
        <ion-label>Current Projects</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pastProj">
        <ion-label>Past Involvements</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <ion-list [ngSwitch]="type">
    <div *ngSwitchCase="'currProj'">
    <!-- <h2 style="padding-left:10px">Current Projects</h2> -->
    <ion-searchbar (ionInput)="filterCurrList($event)" placeholder="Search"></ion-searchbar>
    <div *ngIf="noCurrProjectBoolean == true">
      <p style="padding-left: 15px;">You have no current projects! Start Creating Projects now!</p>
    </div>
      <div *ngFor="let c of currentProjectsList">
        <ion-card (click)="view($event, c.id)">
          <img [src]=c.imgPath onerror="this.src='./assets/img/projects.jpg'" />
        <ion-card-header>
          <ion-badge style="float:right" class="role{{checkRole(c)}} ">&nbsp;{{checkRole(c)}}&nbsp;</ion-badge>
          <ion-card-title >{{c.title}}</ion-card-title>
          <ion-badge *ngFor="let s of c.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
          <ion-card-subtitle>Last Modified: {{formatDate(c.updatedAt)}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{c.desc}}
        </ion-card-content>
        
      </ion-card>
      </div>
    </div>
    <div *ngSwitchCase="'pastProj'">
      <ion-item-divider>
        <ion-segment [(ngModel)]="role" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="admin" checked>
            <ion-label>Founder/Admin</ion-label>
          </ion-segment-button>
          <ion-segment-button value="contributor">
            <ion-label>Resource Contributor</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item-divider>
    
      <ion-list [ngSwitch]="role">
      <ion-searchbar (ionInput)="filterPastList($event)" placeholder="Search"></ion-searchbar>
      <div *ngSwitchCase="'admin'">
        <div *ngIf="noPastProjectBoolean == true">
          <p style="padding: 0px 15px;">You have no previous projects that you had a founder/admin role! Start Creating Projects now!</p>
        </div>
        <div *ngFor="let p of pastProjectsList">
          <ion-card (click)="view($event, p.id)">
              <img [src]=p.imgPath class="inactive" onerror="this.src='./assets/img/projects.jpg'" />
            <ion-card-header>
              <ion-badge style="float:right" class="role{{checkRole(p)}}">&nbsp;{{checkRole(p)}}&nbsp;</ion-badge>
              <ion-card-title >{{p.title}}</ion-card-title>
              <ion-card-subtitle>{{p.role}}</ion-card-subtitle>
              <ion-badge *ngFor="let s of p.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge>
            </ion-card-header>
    
            <ion-card-content>{{p.desc}}</ion-card-content>
          </ion-card>
        </div>
      </div>
      <div *ngSwitchCase="'contributor'">
        <div *ngIf="noPastContributionBoolean == true">
          <p style="padding: 0px 10px;">You have no previous projects where you contributed your resource! Start Creating Projects now!</p>
        </div>
        <div *ngIf="noPastContributionBoolean == false"><h4 style="padding: 0px 10px;">Overall Rating: {{avgRating}}</h4></div>
        <div *ngFor="let p of pastContributionsList">
        <ion-card (click)="view($event, p.projectId)">
            <img [src]=p.ionicImgPath class="inactive" onerror="this.src='./assets/img/projects.jpg'" />
          <ion-card-header>
            <ion-badge style="float:right" class="roleContributor">&nbsp;Contributor&nbsp;</ion-badge>
            <ion-card-title>{{p.projectTitle}}</ion-card-title>
            <ion-card-subtitle >Need Title: {{p.needTitle}}</ion-card-subtitle>
            <ion-card-subtitle >Resource Contributed: {{p.resourceTitle}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="p.rating != ''">Rating: {{p.rating}}</ion-card-subtitle>
            <!-- <ion-card-subtitle>{{p.role}}</ion-card-subtitle> -->
            <!-- <ion-badge *ngFor="let s of p.SDGs" className="sdg{{s}}">SDG {{s}}&nbsp;</ion-badge> -->
          </ion-card-header>
  
          <ion-card-content>{{p.desc}}</ion-card-content>
        </ion-card>
        </div>
      </div>
    </ion-list>
  </div>
  </ion-list>
  
</ion-content>
