<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon name="arrow-back" slot="start" (click)="dismiss()" style="padding-left:10px"></ion-icon>
      </ion-buttons>
    <ion-title>Confirmation Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
          <ion-card-title>{{msg}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-icon class="center" name="checkmark-circle-sharp"></ion-icon>
          <p style="text-align: center">Voucher Code: {{code}}</p>
          <p style="text-align: center">Claimed on: {{formatDate(claimedAt)}}</p>
          <p style="text-align: center">Expiry Date: {{formatDate(endDate)}}</p>
          <ion-button expand="full" (click)="dismiss()">Dismiss</ion-button>
      </ion-card-content>
    </ion-card>
</ion-content>
