<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: right;">Request Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background" src="assets/img/cover.jpeg"/>
  <div class="centered center">
  <ion-card *ngIf="status == 'false'">
    <ion-card-header  >Upload a picture with your ID card and request for your account to be verified before you create new projects! Your verification request will be confirmed once an admin reviews your request!</ion-card-header>
    <ion-card-content>
    <form>      
      <div>
        <input type="file" name="image" (change)="selectImage($event)" />
      </div>
      <br>
      <div>
        <ion-button type="submit" expand="block" (click)="verify()">Request for verification</ion-button>
      </div>
    </form>
  </ion-card-content>
    
  </ion-card>
  <ion-card *ngIf="status == 'pending'">
      <ion-label>Your Request for verification is pending! Check back again to see if you are verified!</ion-label>
  </ion-card>
  <ion-card *ngIf="status == 'verified' || accountType == 'institution'">
    <ion-label>Your account has been verified! Start Creating your project to change the world!</ion-label>
    <!--<ion-button color="dark" (click)="createProject()"></ion-button>-->
</ion-card>
</div>
</ion-content>
