<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" style="padding-left:10px" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>Edit Manpower Resource</ion-title>
  </ion-toolbar>
</ion-header>

<form #form="ngForm" (ngSubmit)="update()">
  <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input ngModel name="title" [(ngModel)]="currResource.title" required minlength="3" #intitle="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && intitle.invalid">
        <div *ngIf="intitle.errors.required">Title is required</div>
        <div *ngIf="intitle.errors.minlength">
          Title must be at least 3 characters
        </div>
      </div>
    </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input ngModel name="desc" [(ngModel)]="currResource.desc" required minlength="3" #indesc="ngModel"></ion-input>
    <div class="alert-danger" *ngIf="form.submitted && indesc.invalid">
      <div *ngIf="indesc.errors.required">Description is required</div>
      <div *ngIf="indesc.errors.minlength">
        Description must be at least 3 characters
      </div>
    </div>
  </ion-item>

  <!-- <ion-item *ngIf="isVenueType == true">
    <ion-label position="floating">Address</ion-label>
    <ion-input ngModel name="address" [(ngModel)]="address" required minlength="3" #inaddress="ngModel"></ion-input>
    <div class="alert-danger" *ngIf="form.submitted && inaddress.invalid">
      <div *ngIf="inaddress.errors.required">Address is required</div>
      <div *ngIf="inaddress.errors.minlength">
        Address must be at least 3 characters
      </div>
    </div>
  </ion-item> -->
  <ion-button type="submit" color="primary" expand="block" style = "margin-left: 10px; margin-right:10px;">Confirm</ion-button>
</form>

  <ion-content>
    <div *ngIf="resultSuccess == true" style="color: blue;">
      {{message}}
    </div>
    
    <div *ngIf="resultError == true" style="color: red;">
      {{message}}
    </div>
</ion-content>
