<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    <ion-title>Projects Marketplace</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterProjectsList($event)" placeholder="Search"></ion-searchbar>
  
  <ion-item>
    <ion-label position="floating">SDGs</ion-label>
    <ion-select placeholder="Filter by SDG" id="s" name="s" [(ngModel)]="sdgs" (ionChange)= "filterSDGS(sdgs)" multiple="true">
      <ion-select-option *ngFor="let s of sdgsList" [value]="s.id">SDG {{s.id}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-label style="text-decoration: underline; float: right; padding-right: 5px" (click)="reset()">Reset</ion-label><br>
  <ion-card  *ngFor="let n of filterList">
    <div class="aligned">
      <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewFounderProfile($event, n)" style="width: 40px; height: 40px; object-fit: cover;" [src]=n.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
      <div>
        <div class = "aligned">
          <ion-label style="font-weight: bold" (click)="viewFounderProfile($event, n)">{{n.ownerName}}</ion-label>
          <ion-icon name="checkmark-circle" size="big"></ion-icon>
        </div>
        <ion-label>Project Founder</ion-label>
      </div> 
    </div>  
    <img [src]=n.imgPath alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
    <ion-card-header>
    <ion-card-title (click)="viewProject($event, n)">{{n.title}}</ion-card-title>
    <!-- <div class="aligned">
      <ion-label style="font-weight: bold;">Project Founder: <br> </ion-label>
      <img (click)="viewFounderProfile($event, n)" class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=n.ownerImg  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
      <ion-label (click)="viewFounderProfile($event, n)">{{n.ownerName}}<ion-icon name="checkmark-circle" size="big"></ion-icon> </ion-label>
    </div> -->
      <ion-badge style="padding-left: 5px" className="sdg{{sdg}}" *ngFor= "let sdg of n.SDGs">SDG {{sdg}}&nbsp;</ion-badge>
    </ion-card-header>
    <ion-card-content>
    <p class="customStyle">Project Description: {{n.desc}}<br></p>
    <p>Country: {{n.country}}<br></p>
    <p>Rating: {{n.rating}}</p>
    <ion-card-subtitle>Created at: <ion-badge color="dark">{{formatDate(n.createdAt)}}</ion-badge></ion-card-subtitle>
  </ion-card-content>
  </ion-card>
</ion-content>
