<ion-tabs #tabs (ionTabsDidChange)="tabChange(tabs)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="marketplace">
      <ion-icon name="basket-outline"></ion-icon>
      <ion-label>Marketplace</ion-label>
    </ion-tab-button>
    <ion-tab-button  tab="messages">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-badge *ngIf="chatNotRead == true" color="danger" style="position: absolute; right: 2px; top: 5px;">!</ion-badge>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <!-- <ion-tab-button  tab="notifs" (click)="checkRead()">
      <ion-icon name="notifications-outline" style="padding-right: 10px;"></ion-icon>
      <ion-badge *ngIf="gotNotifs == true" color="danger" style="position: absolute; right: 2px; top: 5px;">!</ion-badge>
      <ion-label>Notifications</ion-label>
    </ion-tab-button> -->
    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
