<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/accountsettings" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: right;">Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="accountBoolean == true">
  <form #changeForm="ngForm" (ngSubmit)="changeInstitutionPassword()">

    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" ngModel name="oldpassword" [(ngModel)]="user.oldpassword" required minlength="8" #inoldpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inoldpassword.invalid">
        <div *ngIf="inoldpassword.errors.required">Password is required</div>
        <div *ngIf="inoldpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input type="password" ngModel name="newpassword" [(ngModel)]="user.newpassword" required minlength="8" #innewpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && innewpassword.invalid">
        <div *ngIf="innewpassword.errors.required">Password is required</div>
        <div *ngIf="innewpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="8" #inconfirmPassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inconfirmPassword.invalid">
        <div *ngIf="inconfirmPassword.errors.required"> Confirm Password is required</div>
        <div *ngIf="inconfirmPassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>
    <ion-button type="submit" expand="full" color="danger">Change Password</ion-button>
  </form>
</ion-content>
<ion-content *ngIf="accountBoolean == false">
  <form #changeForm="ngForm" (ngSubmit)="changeUserPassword()">
    <ion-item>
      <ion-label position="floating">Current Password</ion-label>
      <ion-input type="password" ngModel name="oldpassword" [(ngModel)]="user.oldpassword" required minlength="8" #inoldpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inoldpassword.invalid">
        <div *ngIf="inoldpassword.errors.required">Password is required</div>
        <div *ngIf="inoldpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="newpassword" [(ngModel)]="user.newpassword" required minlength="8" #innewpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && innewpassword.invalid">
        <div *ngIf="innewpassword.errors.required">Password is required</div>
        <div *ngIf="innewpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="8" #inconfirmPassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inconfirmPassword.invalid">
        <div *ngIf="inconfirmPassword.errors.required"> Confirm Password is required</div>
        <div *ngIf="inconfirmPassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>
    <ion-button type="submit" expand="block" style = "margin-left: 10px; margin-right:10px;" color="danger">Change Password</ion-button>
  </form>
</ion-content>
