<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="back()">Back</ion-button>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="accountBoolean == true">
  <form #changeForm="ngForm" (ngSubmit)="changeInstitutionPassword(changeForm)">

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password" [(ngModel)]="user.password" required minlength="8" #inpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inpassword.invalid">
        <div *ngIf="inpassword.errors.required">Password is required</div>
        <div *ngIf="inpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="8" #inconfirmPassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inconfirmPassword.invalid">
        <div *ngIf="inconfirmPassword.errors.required"> Confirm Password is required</div>
        <div *ngIf="inconfirmPassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>
    <ion-button type="submit" expand="full" color="danger">Change Password</ion-button>
  </form>
</ion-content>
<ion-content *ngIf="accountBoolean == false">
  <form #changeForm="ngForm" (ngSubmit)="changeUserPassword(changeForm)">

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password" [(ngModel)]="user.password" required minlength="8" #inpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inpassword.invalid">
        <div *ngIf="inpassword.errors.required">Password is required</div>
        <div *ngIf="inpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPassword" [(ngModel)]="user.confirmPassword" required minlength="8" #inconfirmPassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="changeForm.submitted && inconfirmPassword.invalid">
        <div *ngIf="inconfirmPassword.errors.required"> Confirm Password is required</div>
        <div *ngIf="inconfirmPassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>
    <ion-button type="submit" expand="full" color="danger">Change Password</ion-button>
  </form>
</ion-content>
