<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title class="title">User Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button class="ion-btn" expand="block" style = "margin-left: 10px; margin-right:10px;" routerLink="/update-email">Change Email</ion-button>
  </div>
  <div>
    <ion-button class="ion-btn" expand="block" style = "margin-left: 10px; margin-right:10px;" routerLink="/change-password">Change password</ion-button>
  </div>
</ion-content>
