<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="back()">Back</ion-button>
    <ion-title class="title">User Account Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div>
    <ion-button class="ion-btn" expand="block" routerLink="/update-username">Change Username</ion-button>
  </div>
  <div>
    <ion-button class="ion-btn" expand="block" routerLink="/update-email">Update Email</ion-button>
  </div>
  <div>
    <ion-button class="ion-btn" expand="block" routerLink="/change-password">Change password</ion-button>
  </div>
</ion-content>
