<ion-header>
  <ion-toolbar>
    <ion-button (click)="back()"> Back </ion-button>
    <ion-title style="text-align: right">Affiliation management</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label style="text-align: center">List of Affiliated Individuals</ion-label>
    <ion-card *ngFor = "let m of members" lines="none">
      <ion-label >{{m.name}}</ion-label><br>
      <ion-label >{{m.country}}</ion-label>
      <ion-button style="float:right" (click)="presentAlertConfirm()" >Remove</ion-button>
    </ion-card>
</ion-content>
