<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
      <ion-title>My Reward Vouchers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 style="padding-left: 15px">Current tier: <ion-badge class="{{currentUser.tier}}">{{currentUser.tier}}</ion-badge></h1>
    <ion-grid>
      <ion-row style="padding: 0px 5px;">
        <ion-col>
          <ion-icon name="ellipse-outline" style='margin-right: 5px;'></ion-icon>My points: {{currentUser.points}}
        </ion-col>
        <ion-col style="text-align:right">
          <ion-icon name="wallet-outline" style='margin-right: 5px;'></ion-icon>My wallet: {{currentUser.wallet}}
      </ion-col>
      </ion-row>
    </ion-grid>
    <br>
      <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="active" checked>
          <ion-label>Active</ion-label>
        </ion-segment-button>
        <ion-segment-button value="claimed">
          <ion-label>Claimed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="expired">
          <ion-label>Expired</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list  [ngSwitch]="type">

    <div *ngSwitchCase="'active'" >
      <div *ngIf="activeVouchers == undefined || activeVouchers.length == 0">
        <h4 style="padding: 0px 10px;">You don't have any active reward vouchers! Redeem a reward in the marketplace now!</h4>
      </div>
      <ion-card *ngFor="let v of activeVouchers">
        <ion-card-header>
          <img [src]=v.rewardImgPath alt="Reward Picture" onerror="this.src='./assets/img/projects.jpg'">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card-title>{{v.rewardTitle}}</ion-card-title>
              </ion-col>
              <ion-col>
                <ion-badge style="float: right">{{v.code}}</ion-badge>
              </ion-col>
            </ion-row>
            <ion-row size="3">
                <ion-col>
                  <ion-card-subtitle>{{v.rewardDesc}}</ion-card-subtitle>
                </ion-col>
            </ion-row>
          
        </ion-grid>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col><p>Validity: <ion-badge color="dark">{{formatDate(v.createdAt)}}-{{formatDate(v.endDate)}}</ion-badge></p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)="transfer(v)"expand=full>Transfer</ion-button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-item-sliding (ionSwipe)="claim($event, v)" #item>
                <ion-item>
                  <ion-icon name="chevron-back-sharp"></ion-icon><ion-icon name="chevron-back-sharp"></ion-icon> Swipe left to redeem <ion-icon name="chevron-back-sharp"></ion-icon><ion-icon name="chevron-back-sharp"></ion-icon>
                </ion-item>
                <ion-item-options side="end">
                  <button ion-button expand=full style="background-color:azure;text-decoration-color: white;">Redeem</button>
                </ion-item-options>

              </ion-item-sliding>
            </ion-row>
          </ion-grid>
            
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'claimed'" >
      <div *ngIf="noClaimedVouchers == true">
        <h4 style="padding: 0px 10px;">You don't have any claimed reward vouchers! Claim from your active vouchers now!</h4>
      </div>
        <ion-card *ngFor="let c of claimedVouchers">
          <ion-card-header>
            <img [src]=c.rewardImgPath alt="Reward Picture" onerror="this.src='./assets/img/projects.jpg'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-title>{{c.rewardTitle}}</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-badge style="float: right">{{c.code}}</ion-badge>
                </ion-col>
              </ion-row>
              <ion-row size="3">
                  <ion-col>
                    <ion-card-subtitle>{{c.rewardDesc}}</ion-card-subtitle>
                  </ion-col>
              </ion-row>
            
            
          </ion-grid>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><p>Validity: <ion-badge color="dark">{{formatDate(c.createdAt)}}-{{formatDate(c.endDate)}}</ion-badge></p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><p>Claimed At: <ion-badge color ="dark">{{formatDate(c.claimedAt)}}</ion-badge></p></ion-col>
              </ion-row>
            </ion-grid>
              
          </ion-card-content>
        </ion-card>
    </div>

    <div *ngSwitchCase="'expired'" >
      <div *ngIf="noExpiredVouchers == true">
        <h4 style="padding: 0px 10px;">You don't have any expired vouchers!</h4>
      </div>
        <ion-card *ngFor="let e of expiredVouchers">
          <ion-card-header>
            <img [src]=e.rewardImgPath alt="Reward Picture" onerror="this.src='./assets/img/projects.jpg'">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-card-title>{{e.rewardTitle}}</ion-card-title>
                </ion-col>
                <ion-col>
                  <ion-badge style="float: right">{{e.code}}</ion-badge>
                </ion-col>
              </ion-row>
              <ion-row size="3">
                  <ion-col>
                    <ion-card-subtitle>{{e.rewardDesc}}</ion-card-subtitle>
                  </ion-col>
              </ion-row>
            
            
          </ion-grid>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><p>Validity: <ion-badge color="dark">{{formatDate(e.createdAt)}}-{{formatDate(e.endDate)}}</ion-badge></p></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><p>Expired on: <ion-badge color="dark">{{formatDate(e.endDate)}}</ion-badge></p></ion-col>
              </ion-row>
            </ion-grid>
              
          </ion-card-content>
        </ion-card>
      </div>
    </ion-list>

</ion-content>
