<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>  
    <ion-title>Resource Marketplace</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="manpower" checked>
        <ion-label>Manpower</ion-label>
      </ion-segment-button>
      <ion-segment-button value="knowledge">
        <ion-label>Knowledge</ion-label>
      </ion-segment-button>
      <ion-segment-button value="item">
        <ion-label>Item</ion-label>
      </ion-segment-button>
      <ion-segment-button value="venue">
        <ion-label>Venue</ion-label>
      </ion-segment-button>
      <ion-segment-button value="paid">
        <ion-label>Paid</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterList($event)" placeholder="Search"></ion-searchbar>
  <ion-list  [ngSwitch]="type">
    <div *ngSwitchCase="'manpower'" >
      <div *ngIf="manpowerResourceList == undefined || manpowerResourceList.length == 0" style="padding-left: 15px;">
        <ion-label>There are no active manpower resource available!</ion-label>
      </div>
      <div *ngFor="let m of manpowerResourceList" >
      <ion-card>
        <div class="aligned" (click)="viewFounderProfile($event, m)">
          <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=m.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
          <div>
            <div class = "aligned" (click)="viewFounderProfile($event, m)">
              <ion-label style="font-weight: bold">{{m.ownerName}}</ion-label>
              <ion-icon name="checkmark-circle" *ngIf="m.ownerIsVerified == 'true'" size="big"></ion-icon>
            </div>
            <ion-label>Resource Owner</ion-label>
          </div> 
        </div>  
        <img class="card-img-top rounded-circle img-fluid d-block center {{m.status}}" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=m.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
        <ion-card-header (click)= "viewResource(m)">
          <ion-card-title>{{m.title}}</ion-card-title>
          <ion-card-subtitle>{{m.country}}</ion-card-subtitle>
          <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(m.updatedAt)}}</ion-badge></ion-card-subtitle>
        </ion-card-header>

        <!-- <ion-card-content>
          <ion-label>{{m.desc}}</ion-label>
        </ion-card-content> -->
      </ion-card>
      </div>
    </div>


    <div *ngSwitchCase="'knowledge'">
      <div *ngIf="knowledgeResourceList == undefined || knowledgeResourceList.length == 0" style="padding-left: 15px;">
        <ion-label>There are no active knowledge resource available!</ion-label>
    </div>
    <div *ngFor="let k of knowledgeResourceList">
    <ion-card>
      <div class="aligned" (click)="viewFounderProfile($event, k)">
        <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=k.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
        <div>
          <div class = "aligned">
            <ion-label style="font-weight: bold">{{k.ownerName}}</ion-label>
            <ion-icon name="checkmark-circle" *ngIf="k.ownerIsVerified == 'true'" size="big"></ion-icon>
          </div>
          <ion-label>Resource Owner</ion-label>
        </div> 
      </div>
        <img src="../../assets/img/knowledge.jpg" class="{{k.status}} full" />
        <ion-card-header (click)= "viewResource(k)">
          <ion-card-title>{{k.title}}</ion-card-title>
          <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(k.updatedAt)}}</ion-badge></ion-card-subtitle>
        </ion-card-header>

        <!-- <ion-card-content>
          <ion-label>{{k.desc}}</ion-label>
        </ion-card-content> -->
    </ion-card>
    </div>
  </div>

    <div *ngSwitchCase="'item'">
      <div *ngIf="itemResourceList == undefined || itemResourceList.length == 0" style="padding-left: 15px;">
        <ion-label>There are no active item resource available!</ion-label>
      </div>

    <div *ngFor="let i of itemResourceList">
      <ion-card>
        <div class="aligned" (click)="viewFounderProfile($event, i)">
          <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=i.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
          <div>
            <div class = "aligned">
              <ion-label style="font-weight: bold">{{i.ownerName}}</ion-label>
              <ion-icon name="checkmark-circle" *ngIf="i.ownerIsVerified == 'true'" size="big"></ion-icon>
            </div>
            <ion-label>Resource Owner</ion-label>
          </div> 
        </div>
        <div>
          <div *ngIf="i.imgPath == undefined || i.imgPath.length == 0">
            <img class="{{i.status}}" src='./assets/img/item.jpg' />
          </div>
          <ion-slides pager=true paginationType=bullets zoom>
            <ion-slide class="{{i.status}}" *ngFor ="let img of i.imgPath" >
              <ion-img [src]=img onerror="this.src='./assets/img/item.jpg'" ></ion-img>
            </ion-slide>
          </ion-slides>
          </div>
        <ion-card-header (click)= "viewResource(i)">
          <ion-card-title>{{i.title}}</ion-card-title>
          <ion-card-subtitle>{{i.country}}</ion-card-subtitle>
          <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(i.updatedAt)}}</ion-badge></ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'venue'">
      <div *ngIf="venueResourceList == undefined || venueResourceList.length == 0" style="padding-left: 15px;">
        <ion-label>There are no active venue resource available!</ion-label>
    </div>
      <div *ngFor="let v of venueResourceList">
        <ion-card>
          <div class="aligned" (click)="viewFounderProfile($event, v)">
            <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=v.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
            <div>
              <div class = "aligned">
                <ion-label style="font-weight: bold">{{v.ownerName}}</ion-label>
                <ion-icon name="checkmark-circle" *ngIf="v.ownerIsVerified == 'true'" size="big"></ion-icon>
              </div>
              <ion-label>Resource Owner</ion-label>
            </div> 
          </div>
          <div>
            <div *ngIf="v.imgPath == undefined || v.imgPath.length == 0">
              <img  src='./assets/img/venue.jpg' />
            </div>
            <ion-slides pager=true paginationType=bullets zoom>
              <ion-slide class="{{v.status}}" *ngFor ="let img of v.imgPath" >
                <ion-img [src]=img onerror="this.src='./assets/img/venue.jpg'" ></ion-img>
              </ion-slide>
            </ion-slides>
            </div>
          <ion-card-header (click)= "viewResource(v)">
            <ion-card-title>{{v.title}}</ion-card-title>
            <ion-card-subtitle>{{v.country}}</ion-card-subtitle>
            <ion-card-subtitle>{{v.address}}</ion-card-subtitle>
            <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(v.updatedAt)}}</ion-badge></ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      </div>

      <div *ngSwitchCase="'paid'">
        <div *ngIf="paidResourceList == undefined || paidResourceList.length == 0" style="padding-left: 15px;">
          <ion-label>There are no active paid resources available!</ion-label>
      </div>
        <div *ngFor="let p of paidResourceList">
          <ion-card>
            <div class="aligned" (click)="viewFounderProfile($event, p)">
              <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=p.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
              <div>
                <div class = "aligned">
                  <ion-label style="font-weight: bold">{{p.ownerName}}</ion-label>
                  <ion-icon name="checkmark-circle" *ngIf="p.ownerIsVerified == 'true'" size="big"></ion-icon>
                </div>
                <ion-label>Resource Owner</ion-label>
              </div> 
            </div>
            <div>
              <div *ngIf="p.imgPath == undefined || p.imgPath.length == 0">
                <img  src='./assets/img/cash.jpg' />
              </div>
              <ion-slides pager=true paginationType=bullets zoom>
                <ion-slide *ngFor ="let img of p.imgPath" >
                  <ion-img [src]=img onerror="this.src='./assets/img/cash.jpg'" ></ion-img>
                </ion-slide>
              </ion-slides>
              </div>
            <ion-card-header (click)= "viewPaidResource(p)">
              <ion-card-title>{{p.title}}</ion-card-title>
              <ion-card-subtitle style="font-weight:bolder" color=primary>$ {{p.price}}</ion-card-subtitle>
              <ion-card-subtitle>{{p.country}}</ion-card-subtitle>
              <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
              <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(p.updatedAt)}}</ion-badge></ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
        </div>
  </ion-list>
</ion-content>