.customStyle {      
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

ion-segment-button {
    font-size: 12px;
    min-height: 40px;
    min-width: 40px;
  
  }