<ion-header style="color: primary;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/my-projects" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <div slot="end">
    <ion-button slot="end" color="danger" *ngIf="founderBoolean==true && completedBoolean == false" (click)="complete($event)">Project<br>Completed</ion-button>
  </div>
  </ion-toolbar>

  
</ion-header>

<ion-content> 
<ion-card>
  <img [src]=image alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
  <ion-label style="float: right; text-decoration: underline ;" *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" (click)="upload($event)"><ion-icon name="camera"></ion-icon>Upload Project Picture</ion-label>
  <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of SDGs">SDG {{sdg}}&nbsp;</ion-badge>
  <div>
   
    <ion-card-content>Project Description: {{desc}}<br>Status: {{status}}<br>Country: {{country}}</ion-card-content>
  </div>
  <div *ngIf="founderBoolean==true||adminBoolean==true">
    <ion-fab *ngIf="completedBoolean == false" vertical="bottom" horizontal="end" slot="fixed">
      <ion-button>
        <ion-icon name="arrow-back-circle">More</ion-icon>
      </ion-button>
      <ion-fab-list side="start">
        
        <ion-button *ngIf="founderBoolean==true" (click)="delete($event)"><ion-icon slot="end" name="trash" ></ion-icon>Delete</ion-button>
        <ion-button *ngIf="founderBoolean==true"  (click)="update($event)"><ion-icon slot="end" name="create-outline"></ion-icon>Update</ion-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-card>

<ion-card>
  <ion-list>
    <ion-item-group>
      <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Admins</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && founderBoolean==true" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="view($event)"></ion-icon></ion-label>
          
        </ion-buttons>
      </ion-item-divider>
  
      <ion-item *ngFor="let a of admins">
        <div class="aligned">
          <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=a.ionicImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-label>{{a.name}}</ion-label>
          </div>
      </ion-item>
    </ion-card>
      <br>
      <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Key Performance Indicators</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="manageKpi($event)"></ion-icon></ion-label>
            
        </ion-buttons>
      </ion-item-divider>
      
      <ion-card *ngFor="let k of kpis" lines="none">
        <ion-card-title>{{k.title}}</ion-card-title>
        <ion-card-content>{{k.desc}}</ion-card-content>
        <ion-card-content style="text-align: right">Completion: {{k.completion}} %</ion-card-content>

      </ion-card>
    </ion-card>

      <br>
      <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Resource Needs</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="manageNeeds($event)"></ion-icon></ion-label>
          
        </ion-buttons>
      </ion-item-divider>
      <ion-card *ngFor="let r of resourceNeeds">
          <ion-card-title>{{r.title}}</ion-card-title>
          <ion-badge style="float: right;" className="">{{r.type}}</ion-badge>
          <ion-card-content>{{r.desc}}</ion-card-content>
          <ion-card-subtitle *ngIf='(r.type != "money")'>Progress: {{r.completion}} %</ion-card-subtitle>
          <ion-card-subtitle *ngIf='(r.type == "money")'>Progress: {{(r.completion)}} %</ion-card-subtitle>
          <ion-progress-bar *ngIf='(r.type != "money")' value='{{r.completion/100}}'></ion-progress-bar>
          <ion-progress-bar *ngIf='(r.type == "money")' value='{{(r.receivedSum/r.total)}}'></ion-progress-bar>
          <br>
          <ion-card-content *ngIf='(r.type == "money")'>Received Sum: {{r.receivedSum}} | Total: {{r.total}}</ion-card-content> 
          <ion-card-content *ngIf='r.type == "money" && founderBoolean==true ||adminBoolean==true'>Pending Sum: {{r.pendingSum}} </ion-card-content>
          

      </ion-card>  
      </ion-card>  
  
    </ion-item-group>
  </ion-list>
 
</ion-card>
 




</ion-content>
