<ion-header style="color: primary;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><div class="ion-text-wrap">{{title}}</div></ion-title>
    <div slot="end">
    <ion-button slot="end" color="danger" *ngIf="founderBoolean==true && completedBoolean == false" (click)="complete($event)">Project<br>Completed</ion-button>
  </div>
  <div *ngIf="founderBoolean != true" slot="end">
    <ion-button  color="danger" (click)="report()"><ion-icon name="alert-circle-outline"></ion-icon>Report</ion-button>
  </div>
  </ion-toolbar>

  
</ion-header>

<ion-content>
  
<ion-card>
  <img [src]=image alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
  
  <ion-label style="float: right; text-decoration: underline ;" *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" (click)="upload($event)"><ion-icon name="camera"></ion-icon>Upload Project Picture</ion-label>
  <ion-badge color="dark">{{status}}</ion-badge>
  <ion-card-header>
    <div class="aligned" (click)="viewFounderProfile($event, host)">
      <div style="padding: 0px 5px 0px 0px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=host.profilePic alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
      <div>
        <div class = "aligned">
          <ion-label style="font-weight: bold">{{host.name}}</ion-label>
          <ion-icon name="checkmark-circle" size="big"></ion-icon>
        </div>
        <ion-label>Project Founder</ion-label>
      </div> 
    </div> 
    <ion-card-subtitle>Created at: <ion-badge color="dark">{{formatDate(createdAt)}}</ion-badge></ion-card-subtitle>
  </ion-card-header>
    <ion-item-divider>
      <ion-label>Description</ion-label>
    </ion-item-divider>
    <ion-item lines = "none">
      <p>{{desc}}</p>
    </ion-item>
    <ion-item lines = "none">
      <p>
        Country: {{country}} <br>
        Project Difficulty: {{rating}}
      </p>
    </ion-item>

    <ion-item-divider>
      <ion-label>Development Goals</ion-label>
      <ion-buttons *ngIf="completedBoolean == false && (founderBoolean==true ||adminBoolean==true)" style="float: right;" slot="end" >
        <ion-label style="font-weight: bold;" (click)="editTargets($event)">Edit Targets<ion-icon slot="end" name="create-sharp" (click)="editTargets($event)"></ion-icon></ion-label>
      </ion-buttons>
    </ion-item-divider>
    <ion-item lines = "none">
      <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of SDGs">SDG {{sdg}}&nbsp;</ion-badge>
    </ion-item>
    <ion-item lines = "none">
      <ion-button (click)="presentModal()" routerDirection="forward">
        <ion-icon name="golf-outline" slot="start"></ion-icon>
        <ion-label>View Targets</ion-label>
      </ion-button>
    </ion-item>
    
    <ion-item-divider>
      <ion-label>Overall Need Progress: {{(totalProgress)}} %</ion-label>
    </ion-item-divider>
    <ion-item lines = "none">
      <ion-progress-bar value='{{totalProgress/100}}'></ion-progress-bar>
    </ion-item>
    <br>
    <br>
  <div *ngIf="founderBoolean==true||adminBoolean==true">
    <ion-fab *ngIf="completedBoolean == false" vertical="bottom" horizontal="end" slot="fixed">
      <ion-button>
        <ion-icon name="arrow-back-circle">More</ion-icon>
      </ion-button>
      <ion-fab-list side="start">
        <ion-button *ngIf="founderBoolean==true" color="danger" (click)="delete($event)"><ion-icon slot="end" name="trash" ></ion-icon>Delete</ion-button>
        <ion-button *ngIf="founderBoolean==true || adminBoolean==true"  (click)="update($event)"><ion-icon slot="end" name="create-outline"></ion-icon>Update</ion-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-card>

  <ion-toolbar>
    <ion-segment value="feed" [(ngModel)]="page">
      <ion-segment-button value="feed" checked>
        <ion-label>Project Feed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="contributions">
        <ion-label>Contributions</ion-label>
      </ion-segment-button>
      <ion-segment-button value="manage">
        <ion-label>Details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list [ngSwitch]="page">
    <ion-item-group *ngSwitchCase="'feed'">
      <ion-button *ngIf="completedBoolean == false && (founderBoolean==true || adminBoolean==true)"  (click)="createPost($event)" expand="block" style="margin: 0px 10px;"><ion-icon name="pencil-outline"></ion-icon>Create New Post</ion-button>
      <div style="padding-left: 15px" *ngIf="(posts == undefined||posts.length == 0) == true">
          There is no feed for this project currently.
      </div>
      <ion-card *ngFor="let p of posts">
        <img *ngIf="p.imgPath != ''" [src]=renderImg(p.imgPath) alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'" style="margin-top: 10px;">
        <ion-card-header>
          <div *ngIf="completedBoolean == false && (founderBoolean == true || adminBoolean == true)">
            <ion-fab vertical="top" horizontal="end" slot="fixed">
                <ion-icon name="ellipsis-vertical-outline"></ion-icon>
              <ion-fab-list side="start">
                <ion-button color="danger" (click)="delPost($event, p.id)" ><ion-icon slot="end" name="trash"></ion-icon>Delete</ion-button>
                <ion-button (click)="editPost($event, p.id)"><ion-icon slot="end" name="create-outline"></ion-icon>Edit</ion-button>
              </ion-fab-list>
            </ion-fab>
          </div>
          <ion-badge>{{formatDate(p.createdAt)}}</ion-badge>
          <ion-card-title>{{p.title}} </ion-card-title>
          <ion-card-subtitle>{{p.desc}}</ion-card-subtitle>
        </ion-card-header>
        <ion-button fill="clear" (click)="viewComments($event, p.id)">View Comments</ion-button>
      </ion-card>
    </ion-item-group>
    <ion-item-group *ngSwitchCase="'contributions'" >
    <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Resource Obtained</ion-label>
        <!--<ion-buttons *ngIf="completedBoolean == false && founderBoolean==true" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="viewContri($event)"></ion-icon></ion-label>
          
        </ion-buttons>-->
      </ion-item-divider>
      
      <ion-card *ngFor="let c of contributions" lines="none">
        <ion-badge style="float: right;" class="{{c.resType}}type">{{c.resType}}</ion-badge>
        <ion-card-header>   
            <ion-card-title>{{c.needTitle}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <p style="font-weight: bolder;">Provided Resource: {{c.resourceTitle}}</p>
        <p *ngIf="adminBoolean==true || founderBoolean==true" style="font-weight: bolder;">Rating: {{c.rating}}</p>
        <ion-button *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float:right; fill: outline;" (click)="presentAlertConfirm($event, c)" ><ion-icon name="trash-outline"></ion-icon></ion-button>
        <ion-button *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float:right; fill: outline;" (click)="editRating(c)" ><ion-icon name="star-half"></ion-icon>Rate</ion-button>
        <p style="font-weight: bold;">{{c.desc}}</p>
        <br>
        <div>
        <p style="text-align: left" (click)="viewProfile($event, c)">Provided By: {{c.contributorUsername}}</p>
        </div>
        </ion-card-content>
      </ion-card>
    </ion-card>

    <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Purchased Resources</ion-label>
      </ion-item-divider>
      
      <ion-card *ngFor="let p of purchases" lines="none">
        <ion-card-header>   
          <ion-card-title>Purchased Resource: {{p.paidresource.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <p style="font-weight: bold;">{{p.paidresource.desc}}</p>
        <p style="font-weight: bold;">{{p.paidresource.category}}</p>
        <ion-card-subtitle style="font-weight:bolder" color=primary>$ {{p.paidresource.price}}</ion-card-subtitle>
        <div class="aligned">
          <ion-card-content style="font-weight: bold;">Purchased By: <br> </ion-card-content>
          <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=p.buyerImg  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-label (click)="viewFounderProfile($event, p.buyerUsername, p.buyerType)">{{p.buyerName}}<ion-icon name="checkmark-circle" size="big"></ion-icon> </ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-card>
  </ion-item-group>
    <div *ngSwitchCase="'manage'" >
      <ion-card> 
      <ion-item-divider>
        <ion-label color=dark>Admins</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && founderBoolean==true" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="view($event)"></ion-icon></ion-label>
          
        </ion-buttons>
      </ion-item-divider>
      <div style="text-align: center" *ngIf="(admins == undefined||admins.length == 0) == true">
        <h4>There are no records of Admins for this project.</h4>
      </div>
      <ion-item (click)="viewAdminProfile($event, a)" *ngFor="let a of admins">
        <div class="aligned">
          <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=a.ionicImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-label >{{a.name}}</ion-label>
          </div>
      </ion-item>
    </ion-card>
      <br>
      <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Key Performance Indicators</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="manageKpi($event)"></ion-icon></ion-label>
            
        </ion-buttons>
      </ion-item-divider>
      <div style="text-align: center" *ngIf="(kpis == undefined||kpis.length == 0) == true">
        <h4>There are no records of KPIs for this project.</h4>
      </div>
      <ion-card *ngFor="let k of kpis" lines="none">
        <ion-card-header>
          <ion-card-title>{{k.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{k.desc}}</p>
        <p style="text-align: right">Completion: {{k.completion}} %</p>
        </ion-card-content>

      </ion-card>
    </ion-card>

      <br>
      <ion-card>
      <ion-item-divider>
        <ion-label color=dark>Resource Needs</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float: right;" slot="end" >
          <ion-label style="font-weight: bold;">Edit<ion-icon slot="end" name="create-sharp" (click)="manageNeeds($event)"></ion-icon></ion-label>
          
        </ion-buttons>
      </ion-item-divider>
      <div style="text-align: center" *ngIf="(resourceNeeds == undefined||resourceNeeds.length == 0) == true">
        <h4>There are no Resource Needs for this project.</h4>
      </div>
      <ion-card *ngFor="let r of resourceNeeds">
          <ion-badge style="float: right;" class="{{r.type}}type">{{r.type}}</ion-badge>
          <ion-card-header>
            <ion-card-title>{{r.title}}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-card-subtitle>{{r.desc}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf='(r.type != "money")'>Progress: {{r.completion}} %</ion-card-subtitle>
            <ion-card-subtitle *ngIf='(r.type == "money")'>Progress: {{(r.completion)}} %</ion-card-subtitle>
            <ion-progress-bar value='{{r.completion/100}}'></ion-progress-bar>
            <ion-card-subtitle *ngIf='(r.type == "money")'>Received Sum: $ {{r.receivedSum}} | Total: $ {{r.total}}</ion-card-subtitle> 
            <ion-card-subtitle *ngIf='(r.type == "money") '>Remaining Sum Needed: $ {{r.total - r.receivedSum - r.pendingSum}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf='r.type == "money" && (founderBoolean==true ||adminBoolean==true)'>Pending Sum: {{r.pendingSum}} </ion-card-subtitle>
          </ion-card-content>
          <br>
      </ion-card>  
      </ion-card>
  
    </div>

  </ion-list>
</ion-content>
