<ion-header style="color: primary;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/my-projects" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <div slot="end">
    <ion-button slot="end" color="danger" *ngIf="founderBoolean==true && completedBoolean == false" (click)="complete($event)">Project<br>Completed</ion-button>
  </div>
  </ion-toolbar>

  
</ion-header>

<ion-content> 
<ion-card>
  <img [src]=image alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
  <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of SDGs">SDG {{sdg}}&nbsp;</ion-badge>
  <div>
   
    <ion-card-content>Project Description: {{desc}}<br>Status: {{status}}<br>Country: {{country}}</ion-card-content>
  </div>
  
</ion-card>

<ion-card>
  <ion-list>
    <br>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Admins</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && founderBoolean==true" style="float: right;" slot="end" >
          <ion-icon slot="end" name="create-outline" (click)="view($event)"></ion-icon>
        </ion-buttons>
      </ion-item-divider>
  
      <ion-item *ngFor="let a of admins">
        <div class="aligned">
          <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=a.ionicImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-label>{{a.name}}</ion-label>
          </div>
      </ion-item>

      <ion-item-divider>
        <ion-label>Key Performance Indicators</ion-label>
        <ion-buttons *ngIf="completedBoolean == false && (adminBoolean==true || founderBoolean==true)" style="float: right;" slot="end" >
            <ion-icon slot="end" name="create-outline" (click)="manageKpi($event)"></ion-icon>
        </ion-buttons>
      </ion-item-divider>
      
      <ion-card *ngFor="let k of kpis" lines="none">
        <ion-card-title>{{k.title}}</ion-card-title>
        <ion-card-content>{{k.desc}}</ion-card-content>
        <ion-card-content style="text-align: right">Completion: {{k.completion}}</ion-card-content>

      </ion-card>



      <ion-item-divider>
        <ion-label>Resource Needs</ion-label>
        <ion-buttons *ngIf="adminBoolean==true || founderBoolean==true && completedBoolean == false" style="float: right;" slot="end" >
          <ion-icon slot="end" name="create-outline" (click)="manageNeeds($event)"></ion-icon>
        </ion-buttons>
      </ion-item-divider>
      <ion-card *ngFor="let r of resourceNeeds">
          <ion-card-title>{{r.title}}</ion-card-title>
          <ion-badge style="float: right;" className="">{{r.type}}</ion-badge>
          <ion-card-content>{{r.desc}}</ion-card-content>
          <ion-card-content style="text-align: right">Completion(%): {{r.completion}}</ion-card-content>
          <ion-card-content *ngIf='(r.type == "money")'>Total: {{r.total}} | Received Sum: {{r.receivedSum}} | Pending Sum: {{r.pendingSum}}</ion-card-content>
          <ion-progress-bar *ngIf='(r.type == "money")' value='r.receivedSum/r.total'></ion-progress-bar>

      </ion-card>    
      <br>
      <br>
      <br>
      <div *ngIf="founderBoolean==true||adminBoolean==true">
        <ion-fab *ngIf="completedBoolean == false" vertical="bottom" horizontal="start" slot="fixed">
          <ion-button>
            <ion-icon name="arrow-forward-circle">More</ion-icon>
          </ion-button>
          <ion-fab-list side="top">
            
            <ion-button *ngIf="founderBoolean==true" (click)="delete($event)"><ion-icon slot="end" name="trash" ></ion-icon>Delete</ion-button>
            <ion-button *ngIf="founderBoolean==true"  (click)="update($event)"><ion-icon slot="end" name="create-outline"></ion-icon>Update</ion-button>
            <ion-button *ngIf="founderBoolean==true ||adminBoolean==true" (click)="upload($event)">Upload Picture</ion-button>
           
          </ion-fab-list>
        </ion-fab>
      </div>
      
  
    </ion-item-group>
  </ion-list>
 
</ion-card>
 




</ion-content>
