<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="back()">Back</ion-button>
    <ion-title>Forget Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Have you Forgotten your password? Enter the email associated with your account below</ion-label>
  <form #forgotForm="ngForm" (ngSubmit)="passwordRetrieve(forgotForm)">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel name="email" [(ngModel)]="email" required minlength="3" #inemail="ngModel"></ion-input>
        <div class="alert-danger" *ngIf="forgotForm.submitted && inemail.invalid">
          <div *ngIf="inemail.errors.minlength">
             Email format is wrong!
          </div>
        </div>
    </ion-item>
    
    <ion-button type="submit" expand="full" color="danger">Retrieve Password</ion-button>
  </form>
  <div class="spinnerCenter">
      <ion-spinner  *ngIf="clicked == true" name="bubbles"></ion-spinner>
  </div>
</ion-content>
