<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/login" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <!-- <img class="logo-img" src="assets/img/KoCoSD rounded.png"> -->
    <!-- <ion-title>Forgot Password?</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="background" src="assets/img/cover.jpeg"/>
  <div class="center">
    <div heading-column-lr>
      <h1 class="big-heading">Forgot your password?</h1>
    </div>

  <ion-card>
    <ion-card-content>
      <!-- <ion-card-title style="text-align: center;">Forgot password?</ion-card-title> -->
      <ion-label>Enter the email address associated with your account and we will send instructions to reset your password</ion-label>
      <form #forgotForm="ngForm" (ngSubmit)="passwordRetrieve(forgotForm)">
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input ngModel name="email" [(ngModel)]="email" required minlength="3" #inemail="ngModel" placeholder="youremail@gmail.com"></ion-input>
            <div class="alert-danger" *ngIf="forgotForm.submitted && inemail.invalid">
              <div *ngIf="inemail.errors.minlength">
                Email format is wrong!
              </div>
            </div>
        </ion-item>
        
        <ion-button type="submit" expand="block" color="danger">Reset Password</ion-button>
      </form>
      <div class="spinnerCenter">
          <ion-spinner  *ngIf="clicked == true" name="bubbles"></ion-spinner>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
