<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="update()">
    <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input ngModel name="title" [(ngModel)]="projectToUpdate.title" required #intitle="ngModel"></ion-input>
        <div class="alert-danger" *ngIf="form.submitted && intitle.invalid">
          <div *ngIf="intitle.errors.required">
            Title is required!
          </div>
        </div>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea ngModel name="desc" [(ngModel)]="projectToUpdate.desc" required #indesc="ngModel"></ion-textarea>
      <div class="alert-danger" *ngIf="form.submitted && indesc.invalid">
        <div *ngIf="indesc.errors.required">
          Desc is required!
        </div>
      </div>
    </ion-item>

    <ion-item>
        <ion-label>Country</ion-label>
        <ion-select ngModel name="country" [(ngModel)] = "projectToUpdate.country" #incountry="ngModel">
          <ion-select-option *ngFor = "let c of countryData">{{c}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Project Difficulty</ion-label>
      <ion-select id="rating" name="rating" [(ngModel)]="projectToUpdate.rating">
        <ion-select-option *ngFor="let rating of ratingsList" [value]="rating">{{rating}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>SDGs</ion-label>
      <ion-select placeholder="Select Many" id="s" name="s" [(ngModel)]="projectToUpdate.SDGs" multiple="true">
        <ion-select-option *ngFor="let s of sdgsList" [value]="s.id">{{s.id}}-{{s.name}}</ion-select-option>
      </ion-select>
    </ion-item>

   
  
    <ion-button type="submit" color="primary" expand="block" style = "margin-left: 10px; margin-right:10px;">Update</ion-button>
  </form>
</ion-content>
