<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div *ngIf="yourAccountBoolean==false" slot="end">
      <ion-button slot="end" (click)= "requestResource($event)" color="primary">Request</ion-button>
    </div>
    <ion-title>Resource Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img *ngIf = "resourceType == 'manpower'" class="card-img-top rounded-circle img-fluid d-block center {{currResource.status}}" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
      <img *ngIf = "resourceType == 'knowledge'" class="{{currResource.status}} full" src="../../../assets/img/knowledge.jpg" />
      <img *ngIf = "resourceType == 'item'" class="{{currResource.status}} full " [src]=image  onerror="this.src='./assets/img/item.jpg'" />
      <div *ngIf = "resourceType == 'venue'">
        <div *ngIf="noVenuePicBoolean == true">
          <img src='./assets/img/venue.jpg' />
        </div>
        <ion-slides *ngIf="viewEntered" pager=true paginationType=bullets zoom>
          <ion-slide *ngFor ="let v of currResource.imgPath" >
            <ion-img [src]=v onerror="this.src='./assets/img/venue.jpg'" ></ion-img>
          </ion-slide>
        </ion-slides>
      </div>
      <div *ngIf = "resourceType == 'venue' || resourceType == 'item'">
        <ion-label *ngIf="yourAccountBoolean==true"  style="text-decoration: underline; float:right" (click)="upload($event)"><ion-icon name="camera"></ion-icon>Upload Resource Picture</ion-label>
      </div>
      <br>
      <ion-card-header>
      <ion-card-title>{{currResource.title}}</ion-card-title>
      <div class="aligned" *ngIf ="resourceType !='knowledge'">
        <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=ownerImg  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
        <ion-title>{{resourceOwner.name}}<ion-icon *ngIf="resourceOwner.isVerified == 'true'" name="checkmark-circle" size="big" style="padding-left: 5px;"></ion-icon> </ion-title>
      </div>
      <ion-card-subtitle>Last Modified: <ion-badge color="dark">{{formatDate(currResource.updatedAt)}}</ion-badge></ion-card-subtitle>
      <ion-badge class="{{currResource.status}}">{{currResource.status}}</ion-badge>
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="resourceType == 'knowledge'">
      <ion-item-divider>
        <ion-label>Owners</ion-label>
        <ion-buttons *ngIf="yourAccountBoolean==true" style="float: right;" slot="end" >
        <ion-label style="font-weight: bold;">Edit Owners<ion-icon slot="end" name="create-sharp" (click)="toEditOwners($event)"></ion-icon></ion-label>
      </ion-buttons>
      </ion-item-divider>
      <ion-item lines="none">
          <div *ngIf="institutionKnowledgeOwner == true">
          <img class="card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=ownerImg  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-card-subtitle>{{resourceOwner.name}}<ion-icon name="checkmark-circle" size="big"></ion-icon> </ion-card-subtitle>
        </div>
        <div *ngFor="let o of ownersArray" >
          <img class="card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=o.profilePic  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <ion-card-subtitle>{{o.name}}<ion-icon *ngIf="o.isVerified == 'true'" name="checkmark-circle" size="big"></ion-icon> </ion-card-subtitle>
        </div>
      </ion-item>
    </div>

      <ion-item-divider>
        <ion-label>Details</ion-label>
      </ion-item-divider>
      <ion-item *ngIf="resourceType != 'knowledge'" lines="none">
        <p>Country: {{currResource.country}}</p>
      </ion-item>
      <ion-item *ngIf="resourceType == 'venue'" lines="none">
        <p>Address: {{currResource.address}}</p>
      </ion-item>
      <ion-item lines="none">
        <p>Description: {{currResource.desc}}</p>
      </ion-item>
      <ion-item *ngIf="resourceType == 'knowledge' && currResource.attachment != ''" lines="none" >
        <p>Attachment: <ion-button (click) = "download()">Download</ion-button></p>
      </ion-item>
      <br>
      
      <div *ngIf="yourAccountBoolean==true">
        <ion-fab *ngIf="yourAccountBoolean==true" vertical="bottom" horizontal="end" slot="fixed">
          <ion-button>
            <ion-icon name="arrow-back-circle">More</ion-icon>
          </ion-button>
          <ion-fab-list side="start">
            <ion-button color=danger (click)="delete($event)"><ion-icon slot="end" name="trash" ></ion-icon>Delete</ion-button>
            <ion-button (click)="toEditResource($event)"><ion-icon name="create-sharp"></ion-icon>Edit</ion-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </ion-card-content>
  </ion-card>

  <div *ngIf="yourAccountBoolean==true">
    <ion-item-divider color="primary">
      <ion-title style="color: white;">Requests for this resource</ion-title>
    </ion-item-divider>
      <ion-segment  [(ngModel)]="requestType" color="primary">
        <ion-segment-button value="incoming" checked>
          <ion-label>Incoming Request</ion-label>
        </ion-segment-button>
        <ion-segment-button value="outgoing">
          <ion-label>Outgoing Request</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-list  [ngSwitch]="requestType">
        <div *ngSwitchCase="'incoming'" >
          <ion-item-divider>
              <ion-segment [(ngModel)]="inStatus" (ionChange)="segmentChanged($event)" color="secondary">
                <ion-segment-button value="pending" checked>
                  Pending
                </ion-segment-button>
                <ion-segment-button value="accepted">
                  Accepted
                </ion-segment-button>
                <ion-segment-button value="declined">
                  Declined
                </ion-segment-button>
                <ion-segment-button value="cancelled">
                  Cancelled
                </ion-segment-button>
              </ion-segment>
        </ion-item-divider>
          <ion-list [ngSwitch]="inStatus">
          <div *ngSwitchCase="'pending'">
            <ion-title>Pending Requests(Incoming)</ion-title>
            <div style="padding-left: 15px" *ngIf="(incomingPendingResourceRequestList == undefined || incomingPendingResourceRequestList.length == 0) == true">
              You do not have any pending incoming requests!
              </div>
            <div *ngFor="let m of incomingPendingResourceRequestList" >
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{m.needTitle}}</ion-card-title>
                <ion-badge class={{m.status}}>{{m.status}}</ion-badge>
                
              </ion-card-header>
      
              <ion-card-content>
                <p>Request Description: {{m.desc}}</p>
                <p (click)="viewProject(m)">Project: {{m.projectTitle}}</p>
                <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(m.createdAt)}}</ion-badge></ion-card-subtitle>
                <ion-grid fixed=true>
                  <ion-row size="4">
                    <ion-col>
                      <ion-button *ngIf="m.status != 'accepted'" (click)="acceptResRequest($event, m)" expand="full">Accept</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button *ngIf="m.status != 'accepted'" (click)="declineResRequest($event,m)" expand="full" color="danger">Decline</ion-button>
                    </ion-col>
                  </ion-row>
              </ion-grid>
              </ion-card-content>
            </ion-card>
            </div>
        </div>
        <div *ngSwitchCase="'accepted'">
          <ion-title>Accepted Requests(Incoming)</ion-title>
          <div style="padding-left: 15px" *ngIf="( incomingAcceptedResourceRequestList == undefined||incomingAcceptedResourceRequestList.length == 0) == true">
            You do not have any accepted incoming requests!
            </div>
          <div *ngFor="let m of incomingAcceptedResourceRequestList" >
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{m.needTitle}}</ion-card-title>
              <ion-badge class={{m.status}}>{{m.status}}</ion-badge>
              
            </ion-card-header>
    
            <ion-card-content>
              <p>Request description: {{m.desc}}</p>
              <p (click)="viewProject(m)">Project: {{m.projectTitle}}</p>
              <ion-card-subtitle>Requested on: <ion-badge color='dark'>{{formatDate(m.createdAt)}}</ion-badge></ion-card-subtitle>

              <ion-button *ngIf="m.status == 'accepted'" (click)="cancelResRequest($event, m)" expand="full" color="danger">Cancel</ion-button>
            </ion-card-content>
          </ion-card>
          </div>
      </div>
      <div *ngSwitchCase="'declined'">
        <ion-title>Declined Requests(Incoming)</ion-title>
        <div style="padding-left: 15px" *ngIf="(incomingDeclinedResourceRequestList == undefined|| incomingDeclinedResourceRequestList.length == 0) == true">
          You do not have any declined incoming requests!
          </div>
        <div *ngFor="let m of incomingDeclinedResourceRequestList" >
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{m.needTitle}}</ion-card-title>
            <ion-badge class={{m.status}}>{{m.status}}</ion-badge>
            
          </ion-card-header>
  
          <ion-card-content>
            <p>Request description: {{m.desc}}</p>
            <p (click)="viewProject(m)">Project: {{m.projectTitle}}</p>
            <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(m.createdAt)}}</ion-badge></ion-card-subtitle>
          </ion-card-content>
        </ion-card>
        </div>
    </div>
    <div *ngSwitchCase="'cancelled'">
      <ion-title>Cancelled Requests(Incoming)</ion-title>
      <div style="padding-left: 15px" *ngIf="(incomingCancelledResourceRequestList == undefined||incomingCancelledResourceRequestList.length == 0) == true">
        You do not have any cancelled incoming requests!
        </div>
      <div *ngFor="let m of incomingCancelledResourceRequestList" >
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{m.needTitle}}</ion-card-title>
          <ion-badge class={{m.status}}>{{m.status}}</ion-badge>
          
        </ion-card-header>

        <ion-card-content>
          <p>Request description: {{m.desc}}</p>
          <p (click)="viewProject(m)">Project: {{m.projectTitle}}</p>
          <ion-card-subtitle>Cancelled By: {{m.cancelType}}</ion-card-subtitle>
          <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(m.createdAt)}}</ion-badge></ion-card-subtitle>
          <ion-card-subtitle>Cancelled on: <ion-badge color="dark">{{formatDate(m.updatedAt)}}</ion-badge></ion-card-subtitle>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
        </ion-list>
        </div>
    
        <div *ngSwitchCase="'outgoing'">
                <ion-segment [(ngModel)]="outStatus" (ionChange)="segmentChanged($event)" color="secondary">
                  <ion-segment-button value="pending" checked>
                    <ion-label>Pending</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="accepted">
                    <ion-label>Accepted</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="declined">
                    <ion-label>Declined</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="cancelled">
                    <ion-label>Cancelled</ion-label>
                  </ion-segment-button>
                </ion-segment>
          <!-- <ion-content> -->
            <ion-list [ngSwitch]="outStatus">
              <div *ngSwitchCase="'pending'">
                
                <ion-title>Pending Requests(Outgoing)</ion-title>
                <div style="padding-left: 15px" *ngIf="(outgoingPendingResourceRequestList == undefined || outgoingPendingResourceRequestList.length == 0) == true">
                  You do not have any pending outgoing requests!
                  </div>
              <div *ngFor="let k of outgoingPendingResourceRequestList">
                <ion-card>
                  <ion-card-header>
                    <ion-card-title>{{k.needTitle}}</ion-card-title>
                    <ion-badge class="{{k.status}}">{{k.status}}</ion-badge>
                    
                  </ion-card-header>
          
                  <ion-card-content>
                    <p>Request description: {{k.desc}}</p>
                    <p (click)="viewProject(k)">Project: {{k.projectTitle}}</p>
                    <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(k.createdAt)}}</ion-badge></ion-card-subtitle>
                    <ion-button  (click)="cancelProjRequest($event, k)" expand="full" color="danger">Cancel</ion-button>
                  </ion-card-content>
                </ion-card>
              </div>
            </div>

      <div *ngSwitchCase="'accepted'">
        <ion-title>Accepted Requests(Outgoing)</ion-title>
        <div style="padding-left: 15px" *ngIf="(outgoingAcceptedResourceRequestList == undefined || outgoingAcceptedResourceRequestList.length == 0) == true">
          You do not have any accepted outgoing requests!
          </div>
      <div *ngFor="let k of outgoingAcceptedResourceRequestList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{k.needTitle}}</ion-card-title>
            <ion-badge class="{{k.status}}">{{k.status}}</ion-badge>
            
          </ion-card-header>
  
          <ion-card-content>
            <p>Request description: {{k.desc}}</p>
            <p (click)="viewProject(k)">Project: {{k.projectTitle}}</p>
            <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(k.createdAt)}}</ion-badge></ion-card-subtitle>
            <ion-button  (click)="cancelProjRequest($event, k)" expand="full" color='danger'>Cancel</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'declined'">
      <ion-title>Declined Requests(Outgoing)</ion-title>
      <div style="padding-left: 15px" *ngIf="(outgoingDeclinedResourceRequestList == undefined || outgoingDeclinedResourceRequestList.length == 0) == true">
        You do not have any declined outgoing requests!
        </div>
    <div *ngFor="let k of outgoingDeclinedResourceRequestList">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{k.needTitle}}</ion-card-title>
          <ion-badge class="{{k.status}}">{{k.status}}</ion-badge>
          
        </ion-card-header>

        <ion-card-content>
          <p>Request description: {{k.desc}}</p>
          <p (click)="viewProject(k)">Project: {{k.projectTitle}}</p>
          <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(k.createdAt)}}</ion-badge></ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngSwitchCase="'cancelled'">
    <ion-title>Cancelled Requests(Outgoing)</ion-title>
    <div style="padding-left: 15px" *ngIf="(outgoingCancelledResourceRequestList == undefined || outgoingCancelledResourceRequestList.length == 0) == true">
      You do not have any cancelled outgoing requests!
      </div>
  <div *ngFor="let k of outgoingCancelledResourceRequestList">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{k.needTitle}}</ion-card-title>
        <ion-badge class="{{k.status}}">{{k.status}}</ion-badge>
        
      </ion-card-header>

      <ion-card-content>
        <p>Request description: {{k.desc}}</p>
        <p (click)="viewProject(k)">Project: {{k.projectTitle}}</p>
        <ion-card-subtitle>Cancelled By: {{k.cancelType}}</ion-card-subtitle>
        <ion-card-subtitle>Requested on: <ion-badge color="dark">{{formatDate(k.createdAt)}}</ion-badge></ion-card-subtitle>
        <ion-card-subtitle>Cancelled on: <ion-badge color="dark">{{formatDate(k.updatedAt)}}</ion-badge></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</div>
      </ion-list>
      <!--</ion-content>-->
      </div>
      </ion-list>
  </div>
  <div *ngIf="yourAccountBoolean==true">
    <ion-item-divider color="primary">
      <ion-title style="color: white;">Resource Need Suggestions</ion-title>
    </ion-item-divider>
    <div *ngIf="((suggestions != undefined) == false)|| (suggestions.length == 0)" style="padding-left: 15px;">
        <h6>There are currently no suggested project resource needs for this resource</h6>
    </div>
    <div *ngIf="((suggestions != undefined && suggestions.length != 0) == true)">
      <!-- <ion-card-title style="padding-left: 15px">Here are some resource need suggestions to contribute to</ion-card-title> -->
      <ion-card *ngFor="let s of suggestions">
        <img [src]=s.projectImg onerror="this.src='./assets/img/projects.jpg'" />
        <ion-card-header>
            <ion-card-title>Resource Need: {{s.title}}</ion-card-title>
            <ion-badge *ngFor="let sd of s.projectSDGs" className="sdg{{sd}}">SDG {{sd}}&nbsp;</ion-badge>
            <ion-card-subtitle>Country: {{s.country}}</ion-card-subtitle>
            <ion-card-subtitle (click)="viewProject(s)">Project: {{s.projectTitle}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Resource Need Description: {{s.desc}}</p>
          <p>Requested on: <ion-badge color="dark">{{formatDate(s.updatedAt)}}</ion-badge></p>
          <br>
          <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-button (click)="contribute(s)">Contribute</ion-button> 
          </ion-fab>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
