<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/my-resources" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="create-outline" slot="end" routerLink="/edit-resource" style="padding-right: 10px"></ion-icon>
    </ion-buttons>
    <ion-title>Resource Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf = "resourceType == 'manpower'">
    <ion-card>
      <img src="../../../assets/img/manpower.jpg" />
      <ion-card-header>
        <ion-card-title>{{currResource.title}}</ion-card-title>
        <ion-card-subtitle>{{currResource.createdAt}}</ion-card-subtitle>
        <!-- TO add owner's face and name, and reflect status image-wise -->
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-item-divider>
      <ion-label>Details</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <p>Country: {{currResource.country}}</p>
    </ion-item>

    <ion-item lines="none">
      <p>Description: {{currResource.desc}}</p>
    </ion-item>
  </div>

  <div *ngIf = "resourceType == 'knowledge'">
    <ion-card>
      <img src="../../../assets/img/knowledge.jpg" />
      <ion-card-header>
        <ion-card-title>{{currResource.title}}</ion-card-title>
        <ion-card-subtitle>{{currResource.createdAt}}</ion-card-subtitle>
        <!-- TO add owner's face and name, and reflect status image-wise -->
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-item-divider>
      <ion-label>Details</ion-label>
    </ion-item-divider> 
    <ion-item lines="none">
      <p>Description: {{currResource.desc}}</p>
    </ion-item>

    <!-- To include attachment -->
  </div>
  <div *ngIf = "resourceType == 'item'">
    <ion-card>
      <img src="../../../assets/img/item.jpg" />
      <ion-card-header>
        <ion-card-title>{{currResource.title}}</ion-card-title>
        <ion-card-subtitle>{{currResource.createdAt}}</ion-card-subtitle>
        <!-- TO add owner's face and name, and reflect status image-wise -->
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-item-divider>
      <ion-label>Details</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <p>Country: {{currResource.country}}</p>
    </ion-item>

    <ion-item lines="none">
      <p>Description: {{currResource.desc}}</p>
    </ion-item>
  </div>  
  <div *ngIf = "resourceType == 'venue'">
    <ion-card>
      <img src="../../../assets/img/venue.jpg" />
      <ion-card-header>
        <ion-card-title>{{currResource.title}}</ion-card-title>
        <ion-card-subtitle>{{currResource.createdAt}}</ion-card-subtitle>
        <!-- TO add owner's face and name, and reflect status image-wise + image to be slidable -->
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>

    <ion-item-divider>
      <ion-label>Details</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <ion-label>Country: {{currResource.country}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <p>Address: {{currResource.address}}</p>
    </ion-item>
    <ion-item lines="none">
      <p>Description: {{currResource.desc}}</p>
    </ion-item>
  </div>
</ion-content>
