<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" routerLink="/login" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register as an Individual</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input ngModel name="name" placeholder="John Doe" [(ngModel)]="name" required minlength="3" #inname="ngModel"></ion-input>
        <div class="alert-danger" *ngIf="form.submitted && inname.invalid">
          <div *ngIf="inname.errors.required">Name is required</div>
          <div *ngIf="inname.errors.minlength">
            Name must be at least 3 characters
          </div>
        </div>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input ngModel name="username" placeholder="johndoe" [(ngModel)]="username" required minlength="3" maxlength="20" #inusername="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inusername.invalid">
        <div *ngIf="inusername.errors.required">Username is required</div>
        <div *ngIf="inusername.errors.minlength">
          Username must be at least 3 characters
        </div>
        <div *ngIf="inusername.errors.maxlength">
          Username must be at most 20 characters
        </div>
      </div>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" ngModel name="email" placeholder="johndoe@gmail.com" [(ngModel)]="email" required #inemail="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inemail.invalid">
        <div *ngIf="inemail.errors.required">Email is required</div>
        <div *ngIf="inemail.errors.email">
          Email must be a valid email address
        </div>
      </div>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" ngModel name="password" [(ngModel)]="password" required minlength="8" #inpassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inpassword.invalid">
        <div *ngIf="inpassword.errors.required">Password is required</div>
        <div *ngIf="inpassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating"> Confirm Password</ion-label>
      <ion-input type="password" ngModel name="confirmPassword" [(ngModel)]="confirmPassword" required minlength="8" #inconfirmPassword="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inconfirmPassword.invalid">
        <div *ngIf="inconfirmPassword.errors.required"> Confirm Password is required</div>
        <div *ngIf="inconfirmPassword.errors.minlength">
          Password must be at least 8 characters
        </div>
      </div>
    </ion-item>

    <ion-item>
      <ion-label>Country</ion-label>
      <ion-select ngModel name="country" [(ngModel)] = "country" #incountry="ngModel">
        <ion-select-option *ngFor = "let c of countryData">{{c}}</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Salutation</ion-label>
    <ion-select ngModel name="salutation" [(ngModel)] = "salutation" #insalutation="ngModel">
      <ion-select-option *ngFor = "let s of salutationList">{{s}}</ion-select-option>
    </ion-select>
</ion-item>
<ion-button type="submit" color="primary" expand="block" style = "margin-left: 10px; margin-right:10px;">Register</ion-button>
  </form>

  <div *ngIf="resultSuccess == true" style="color: blue;">
    {{message}}
  </div>
  
  <div *ngIf="resultError == true" style="color: red;">
    {{message}}
  </div>
  
  <div style="text-align:center">
    <h6>Already have an account?</h6>
    <ion-button fill="outline" color="primary" size="small" routerLink="/login">Login</ion-button>
  </div>
</ion-content>  