<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <h6>Choose a Resource to contribute</h6>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngIf="accountBoolean==false&&needType=='manpower'" value="manpower" checked>
        <ion-label>Manpower</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="needType=='knowledge'" value="knowledge">
        <ion-label>Knowledge</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="needType=='item'" value="item">
        <ion-label>Item</ion-label>
      </ion-segment-button>
      <ion-segment-button *ngIf="needType=='venue'" value="venue">
        <ion-label>Venue</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterList($event)" placeholder="Search"></ion-searchbar>
  <ion-list  [ngSwitch]="type">
    
    <div *ngSwitchCase="'manpower'" >
      <div *ngIf="accountBoolean==true">
        <ion-card>
          <ion-card-header>
              <ion-card-title>This is an institution account! Contribute other resources!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-img src="./assets/img/owl_wave.png"></ion-img>
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngIf="accountBoolean==false">
      <div *ngIf="noManpowerResourceBoolean == true" style="padding-left: 15px;">
        <ion-label>You do not have any active manpower resource! Create one now!</ion-label>
      </div>
      <div *ngFor="let m of manpowerResourceList" >
      <ion-card (click)= "viewResource(m)">
        <img class="card-img-top rounded-circle img-fluid d-block center {{m.status}}" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=manpowerImgPath alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
        <ion-card-header>
          <ion-card-title>{{m.title}}</ion-card-title>
          <ion-card-subtitle>Country: {{m.country}}</ion-card-subtitle>
          <ion-badge class="{{m.status}}">{{m.status}}</ion-badge>
          <ion-card-subtitle>Last Modified: {{formatDate(m.updatedAt)}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-label>{{m.desc}}</ion-label>
          <br>
          <br>
          <br>
          <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-button (click)="contribute(m, 'manpower')">
              Contribute!
            </ion-button>
          </ion-fab>
        </ion-card-content>
      </ion-card>
      </div>
    </div>
  </div>

    <div *ngSwitchCase="'knowledge'">
      <div *ngIf="noKnowledgeResourceBoolean == true" style="padding-left: 15px;">
        <ion-label>You do not have any active knowledge resource! Create one now!</ion-label>
    </div>
    <div *ngFor="let k of knowledgeResourceList">
    <ion-card (click)= "viewResource(k)">
        <img src="../../assets/img/knowledge.jpg" class="{{k.status}} full" />
        <ion-card-header>
          <ion-card-title>{{k.title}}</ion-card-title>
          <ion-badge class="{{k.status}}">{{k.status}}</ion-badge>
          <ion-card-subtitle>Last Modified: {{formatDate(k.updatedAt)}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          <ion-label>{{k.desc}}</ion-label>
          <br>
            <br>
            <br>
          <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-button (click)="contribute(k, 'knowledge')">
              Contribute!
            </ion-button>
          </ion-fab>
        </ion-card-content>
    </ion-card>
    </div>
  </div>

    <div *ngSwitchCase="'item'">
      <div *ngIf="noItemResourceBoolean == true" style="padding-left: 15px;">
        <ion-label>You do not have any active item resource! Create one now!</ion-label>
    </div>
    <div *ngFor="let i of itemResourceList">
      <ion-card (click)= "viewResource(i)">
          <img class="{{i.status}} full" [src]=i.imgPath  onerror="this.src='./assets/img/item.jpg'" />
        <ion-card-header>
          <ion-card-title>{{i.title}}</ion-card-title>
          <ion-card-subtitle>{{i.region}}</ion-card-subtitle>
          <ion-badge class="{{i.status}}">{{i.status}}</ion-badge>
          <ion-card-subtitle>Last Modified: {{formatDate(i.updatedAt)}}</ion-card-subtitle>
        </ion-card-header>
  
        <ion-card-content>
          <ion-label>{{i.desc}}</ion-label>
          <br>
            <br>
            <br>
          <ion-fab horizontal="end" vertical="bottom" slot="fixed">
            <ion-button (click)="contribute(i, 'item')">
              Contribute!
            </ion-button>
          </ion-fab>
        </ion-card-content>
      </ion-card>
      </div>
    </div>

    <div *ngSwitchCase="'venue'">
      <div *ngIf="noVenueResourceBoolean == true" style="padding-left: 15px;">
        <ion-label>You do not have any active venue resource! Create one now!</ion-label>
    </div>
      <div *ngFor="let v of venueResourceList">
        <ion-card (click)= "viewResource(v)">
            <img class="{{v.status}} full" [src]=v.imgPath[0]  onerror="this.src='./assets/img/venue.jpg'" />
          <ion-card-header>
            <ion-card-title>{{v.title}}</ion-card-title>
            <ion-badge class="{{v.status}}">{{v.status}}</ion-badge>
            <ion-card-subtitle>{{v.region}}</ion-card-subtitle>
            <ion-card-subtitle>{{v.address}}</ion-card-subtitle>
            <ion-card-subtitle>Last Modified: {{formatDate(v.updatedAt)}}</ion-card-subtitle>s
          </ion-card-header>
    
          <ion-card-content>
            <ion-label>{{v.desc}}</ion-label>
            <br>
            <br>
            <br>
            <ion-fab horizontal="end" vertical="bottom" slot="fixed">
              <ion-button (click)="contribute(v, 'venue')">
                Contribute!
              </ion-button>
            </ion-fab>
          </ion-card-content>
        </ion-card>
      </div>
      </div>
  </ion-list>
</ion-content>

