<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" (click)="dismiss()" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title >Purchase Resource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="confirmPurchase($event)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{paidResource.title}}</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Project Title</ion-label>
      <ion-select ngModel name="currProject" [(ngModel)] = "currProject" #incurrProject="ngModel">
        <ion-select-option value={{p.id}} *ngFor = "let p of projectList">{{p.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <p>Description: {{paidResource.desc}}</p>
    </ion-item>

    <ion-item>
      <ion-label>Category: {{paidResource.category}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Price: <ion-card-title color="primary">USD${{paidResource.price}}</ion-card-title></ion-label>
      
    </ion-item>

    <ion-button type="submit" color="primary" expand="block" style="margin: 0px 10px;">Purchase</ion-button>
  </form>
</ion-content>
