<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" (click)="dismiss()" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title >Purchase Resource</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="confirmPurchase($event)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{paidResource.title}}</ion-card-title>
      </ion-card-header>
      <ion-item-divider>
        <ion-label>Details</ion-label>
      </ion-item-divider>
      <ion-item lines="none">
        <div>
          <p>{{paidResource.desc}}</p>
          <p>Category: <ion-badge>{{paidResource.category}}</ion-badge></p>
        </div>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>Price: <ion-card-title color="success">USD${{paidResource.price}}</ion-card-title></ion-label>
      </ion-item>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Project Title</ion-label>
      <ion-select ngModel name="currProject" [(ngModel)] = "currProject" #incurrProject="ngModel" placeholder="Select one">
        <ion-select-option value={{p.id}} *ngFor = "let p of projectList">{{p.title}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button type="submit" color="primary" expand="block" style="margin: 0px 10px;">Request to Purchase</ion-button>
  </form>
</ion-content>
