
  .user_name {
    color: darkgray;
  }

  .otherUser_name {
    color: black;
  }
  .message {
    padding: 10px !important;
    transition: all 250ms ease-in-out !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
  }
  .my_message {
    align-self: flex-start;
    background: white !important;
    color: black !important;
    border-top-right-radius: 0px !important;
    clear: both;
  }
  .other_message {
    align-self: flex-end;
    background: #6AA0FF!important;
    color: white !important;
    border-top-left-radius: 0px !important;
    clear: both;
  }
  .time {
    color: darkgray;
    float: right;
    font-size: small;
    padding-bottom:0px;
  }
  .other_time {
    color: black;
    float: right;
    font-size: small;
    padding-bottom: 0px;
  }

  .message_row {
    background-color: #fff;
  }


.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}

.rounded-circle {
    border-radius: 50% !important;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }

  .mx-auto {
    margin-left: auto !important;
  }

  .d-block {
    display: block !important;
  }

  .centered {
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.aligned { 
  display: flex; 
  align-items: center;
} 

ion-content {
  --ion-background-color: #CDDFFF;
}
