<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Messages</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="type" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="user" checked>
        <ion-label>User Chats</ion-label>
      </ion-segment-button>
      <ion-segment-button value="admin">
        <ion-label>Administrative Chats</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filterChatList($event)" placeholder="Search"></ion-searchbar>
  <ion-list [ngSwitch]="type">
  <div *ngSwitchCase="'user'">
    <div *ngIf="noChatsBoolean == true" style="padding: 0px 10px;">
      <ion-label>You have not chatted with anyone! Start chatting now!</ion-label>
    </div>
    <ion-card *ngFor="let chatroom of chatroomList" (click)="enterChatRoom(chatroom)">
      <ion-card-header>
        <ion-badge style="float:right">{{formatDate(chatroom.updatedAt)}}</ion-badge>
        <div class="aligned">
          <img class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 5px;" [src]=chatroom.targetImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
            <div *ngIf="chatroom.user1username == currentUser.data.user.username">
              <div class="aligned">
                <ion-card-title (click)="enterChatRoom(chatroom)">{{chatroom.user2username}}</ion-card-title>
                <ion-badge style="margin-left: 5px;" color=danger *ngIf="chatroom.user1read == false">Unread</ion-badge>
              </div>
              <ion-card-subtitle class="customStyle">{{chatroom.lastMessage}}</ion-card-subtitle>
            </div>
            <div *ngIf="chatroom.user1username != currentUser.data.user.username">
              <div class="aligned">
                <ion-card-title (click)="enterChatRoom(chatroom)">{{chatroom.user1username}}</ion-card-title>
                <ion-badge style="margin-left: 5px;" color=danger *ngIf="chatroom.user2read == false">Unread</ion-badge>
              </div>
              <ion-card-subtitle class="customStyle">{{chatroom.lastMessage}}</ion-card-subtitle>
            </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>

  <div *ngSwitchCase="'admin'">
    <div *ngIf="noChatsBoolean == true" style="padding: 0px 10px;">
      <ion-label>You have not chatted with anyone for administrative matters!</ion-label>
    </div>
    <ion-card *ngFor="let adminChat of adminChatroomList" (click)="enterChatRoom(adminChat)" color="medium">
      <ion-card-header>
        <ion-badge style="float:right; ">{{formatDate(adminChat.updatedAt)}}</ion-badge>
        <div class="aligned">
          <img class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 5px;" [src]=adminChat.targetImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
          <div *ngIf="adminChat.user1username == currentUser.data.user.username" >
            <div class="aligned">
              <ion-card-title>{{adminChat.user2username}}</ion-card-title>
              <ion-badge style="margin-left: 5px;" color=danger *ngIf="adminChat.user1read == false">Unread</ion-badge>
            </div>
            <ion-card-subtitle class="customStyle">{{adminChat.lastMessage}}</ion-card-subtitle>
          </div>
          <div *ngIf="adminChat.user1username != currentUser.data.user.username" >
            <div class="aligned">
              <ion-card-title>{{adminChat.user1username}}</ion-card-title>
              <ion-badge style="margin-left: 5px;" color=danger *ngIf="adminChat.user2read == false">Unread</ion-badge>
            </div>
            <ion-card-subtitle class="customStyle">{{adminChat.lastMessage}}</ion-card-subtitle>
          </div>
        </div>
      </ion-card-header>
    </ion-card>
  </div>
  </ion-list>
</ion-content>
