<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" routerLink="/tabs/profile" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form name="form" (ngSubmit)="f.form.valid && search(words)" #f="ngForm" novalidate>
    <ion-item transparent>
        <div class="form-group">
          <ion-input type="text" placeholder="Search" name="words" [(ngModel)]="words" required></ion-input>
        </div>
    </ion-item>
    <div class="form-group">
      <ion-button expand="block" style = "margin-left: 10px; margin-right:10px;" (click)="search(words)">Search</ion-button>
    </div>

  </form>
  <ion-list >
    <ion-item *ngFor="let u of users" >
      <img class="card-img-top rounded-circle img-fluid d-block" style="width: 100px; height: 100px; object-fit: cover;" [src]=u.profilePic  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
      <ion-title>{{u.username}}</ion-title>
      {{u.country}}
      <ion-toolbar >
        <ion-button class="add" (click)="presentAlertConfirm(u)" >Add member</ion-button>
      </ion-toolbar>
    </ion-item>
  </ion-list>

</ion-content>

