<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" routerLink="/accountsettings" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title style="text-align: right;">Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input ngModel name="email" [(ngModel)]="user.email" required minlength="3" #inemail="ngModel"></ion-input>
        <div class="alert-danger" *ngIf="updateForm.submitted && inemail.invalid">
          <div *ngIf="inemail.errors.minlength">
             Email format is wrong!
          </div>
        </div>
    </ion-item>

    <ion-button type="submit" color="danger" expand="block" style = "margin-left: 10px; margin-right:10px;">Change</ion-button>
  </form>
</ion-content>
