<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>
    </ion-buttons>
    <ion-title>Update Resource Need</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="update()">
    <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input ngModel name="title" [(ngModel)]="title" #intitle="ngModel"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea ngModel name="desc" [(ngModel)]="desc"  #indesc="ngModel"></ion-textarea>
    </ion-item>

    <ion-item *ngIf='(type == "money")'>
      <ion-label position="floating">Total($)</ion-label>
      <ion-input ngModel name="total" [(ngModel)]="total" #intotal="ngModel"></ion-input>
    </ion-item>

    <ion-item *ngIf='(type != "money")'>
      <ion-label position="floating">Completion(%)</ion-label>
      <ion-range pin=true snaps=true step=10 ticks=true min="0" max="100" ngModel name="completion" [(ngModel)]="completion" #incompletion="ngModel"></ion-range>
    </ion-item>

    <ion-button type="submit" color="danger" expand="block" style = "margin-left: 10px; margin-right:10px;">Update</ion-button>
  </form>
</ion-content>
