ion-title {
    text-align: right;
}

.card {
    margin: 0 auto;

    .header {
        height: 200px;

        .avatar {
            width: 160px;
            height: 100px;
            position: relative;
            margin: 0 auto;

            img {
                display: block;
                border-radius: 50%;
                position: absolute;
                bottom: calc(-1*(80px + 4px));
                border: 8px solid #9Dc912;
                background-color: #fff;
            }
        }
    }
}

.user-meta {
    padding-top: 1px;

    .playername {
        font-size: 24px;
        font-weight: bold;
        color: #303940;
    }

    .country {
        font-size: 90%;
        color: #949ea6;
        text-transform: uppercase;
        margin: 0 auto;
    }
}

.small {
    text-align: center;
    padding-top: 100px;
    font-size: 8px;
}