<ion-menu side="end" contentId="main">
  <ion-header>
    <ion-toolbar translucent color="primary">
      <ion-title slot="start">Settings</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="true">
      <ion-item routerLink="/update-profile" routerDirection="forward">
        <ion-icon name="person-circle-outline" slot="start"></ion-icon>
        <ion-label>Edit Profile</ion-label>
      </ion-item>
      <ion-item routerLink="/edit-targets" routerDirection="forward">
        <ion-icon name="golf-outline" slot="start"></ion-icon>
        <ion-label>Edit Targets</ion-label>
      </ion-item>
      <div *ngIf="accountBoolean == false">
        <ion-item routerLink="/request-verification" routerDirection="forward">
          <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
          <ion-label>Request for verification</ion-label>
        </ion-item>
      </div>
      <ion-item routerLink="/accountsettings" routerDirection="forward">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label>Account settings</ion-label>
      </ion-item>
      <ion-item routerLink="/my-reports" routerDirection="forward">
        <ion-icon name="warning-sharp" slot="start"></ion-icon>
        <ion-label>My Reports</ion-label>
      </ion-item>
      <ion-item routerLink="/about" routerDirection="forward">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>

      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">Sign out</ion-label>
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-menu>


<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-title slot="start">{{ currentUser.data.user.username }}</ion-title>
      <ion-icon *ngIf="isVerified == true" name="checkmark-circle" size="big"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button><ion-icon name="settings-outline"></ion-icon></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-card>
  <ion-buttons>
    <ion-icon size=large name="share-social-outline" (click)="presentActionSheet()" style="padding-top: 10px;padding-left:10px"></ion-icon>
    <ion-icon size=large name="qr-code" style="padding-top: 10px; padding-left: 10px;" routerLink="/contact-page"></ion-icon>
  </ion-buttons>
  <div class="centered">
    <ion-label *ngIf="accountBoolean == false" style="font-weight:bold; font-size:14px;">My Wallet: {{currentUser.data.user.wallet}}</ion-label>
  </div>  
  <img class="card-img-top rounded-circle img-fluid d-block center" style="margin-top:10px; width: 150px; height: 150px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'" />
    <div class="centered"> 
      <div >
        <a style="font-size: 8px;" routerLink="/change-photo" routerDirection="forward">Edit Profile Picture</a>
      </div>
      <h3 *ngIf="accountBoolean == false" class="name">{{ currentUser.data.user.name }} | {{currentUser.data.user.salutation}}</h3>
      <h3 *ngIf="accountBoolean == true" class="name">{{ currentUser.data.user.name }}</h3>
      <h5 *ngIf="accountBoolean == true">{{currentUser.data.user.address}}</h5>
      <h5 style="margin-top: 0px;">{{ currentUser.data.user.country }}</h5>
      <h6><a href={{currentUser.data.user.website}}>{{ currentUser.data.user.website }}</a></h6>
      <h6 style="margin-top: 0px;" *ngIf="accountBoolean == true">{{currentUser.data.user.phone}}</h6>
      <ion-badge className="sdg{{sdg}}" *ngFor= "let sdg of sdgs">SDG {{sdg}}&nbsp;</ion-badge>
      <br>
      <ion-button (click)="presentModal($event)">
        <ion-icon name="golf-outline" slot="start"></ion-icon>
        <ion-label>Targets</ion-label>
      </ion-button>
    </div>
</ion-card>

<ion-card>
  <ion-item *ngIf="accountBoolean == true" (click)="getAffiliates($event)">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Affiliated Users</ion-label>
  </ion-item>
    
  <div *ngIf="accountBoolean == true">
    <ion-item-divider>
      <ion-label>About Us</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <p>{{currentUser.data.user.bio}}</p>
    </ion-item>
  </div>

  <div *ngIf="accountBoolean == false">
    <ion-item-divider>
      <ion-label>About Me</ion-label>
    </ion-item-divider>
    <ion-item lines="none">
      <p>Occupation: {{currentUser.data.user.occupation}}</p>
    </ion-item>
    <ion-item lines="none">
      <p>Skills: {{currentUser.data.user.skills}}</p>
    </ion-item>
    <ion-item lines="none">
      <p>Bio: {{currentUser.data.user.bio}}</p>
    </ion-item>
  </div>

    <ion-item-divider *ngIf="accountBoolean == false">
      <ion-label>Badge</ion-label>
    </ion-item-divider>
    <ion-card-subtitle *ngIf="badges == undefined">Start contributing to earn some badges!!</ion-card-subtitle>
    <ion-item *ngFor="let b of badges" lines="none">
      <div>
        <img [src]=b.imgPath />
        <p style="padding-left: 5px">Tier: {{b.title}}</p>
      </div>    
    </ion-item>
</ion-card>

<ion-toolbar>
  <ion-segment [(ngModel)]="page">
    <ion-segment-button value="feed" checked>
      <ion-label>Profile Feed</ion-label>
    </ion-segment-button>
    <ion-segment-button value="manage">
      <ion-label>Manage</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-list [ngSwitch]="page">
<ion-item-group *ngSwitchCase="'feed'" >
  <div style="text-align: center;" *ngIf="(reversedProfileFeed == undefined||reversedProfileFeed.length == 0) == true">
    <h4>There are no updates on your Profile Feed!</h4>
  </div>
  <ion-card *ngFor="let pf of reversedProfileFeed">
    <div class="aligned">
      <div style="padding-top: 10px; padding-left: 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 40px; height: 40px; object-fit: cover;" [src]=image alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
      <ion-label style="padding-left: 5px; font-weight: bold" >{{currentUser.data.user.name}}</ion-label>
      <ion-icon *ngIf="isVerified == true" name="checkmark-circle" size="big"></ion-icon>
    </div>  
    <ion-card-header>
      <ion-card-title>{{pf.title}} </ion-card-title>
      <ion-badge>{{formatDate(pf.createdAt)}}</ion-badge>
    </ion-card-header>
    <ion-card-content>{{pf.desc}}</ion-card-content>
    
  </ion-card>
</ion-item-group>
<ion-item-group *ngSwitchCase="'manage'" >
    <ion-item (click)="getProjects($event)" routerDirection="forward">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>My Involvements</ion-label>
    </ion-item>
    <ion-item routerLink="/my-resources">
      <ion-icon  name="cube" slot="start"></ion-icon>
      <ion-label>My Resources</ion-label>
    </ion-item>
    <ion-item (click)="getTestimonials($event)" routerDirection="forward">
      <ion-icon  name="thumbs-up-outline" slot="start"></ion-icon>
      <ion-label>My Testimonials</ion-label>
    </ion-item>
    <ion-item *ngIf="accountBoolean == false" routerLink="/rewards">
      <ion-icon name="gift-outline" slot="start"></ion-icon>
      <ion-label>My Rewards</ion-label>
    </ion-item>
</ion-item-group>
</ion-list>
</ion-content>
