<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="toRewards()">
        Rewards
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ currentUser.data.user.name }}</strong>'s Profile
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-card>
        <img class="card-img-top rounded-circle img-fluid d-block center" style="width: 100px; height: 100px; object-fit: cover;" [src]=image alt="Profile Picture">
        
      
    <div class="centered">
      <div >
        <a style="font-size: 8px;" routerLink="/change-photo" routerDirection="forward">Edit Profile Picture</a>
      </div>
      <h3 class="name">{{ currentUser.data.user.name }}</h3>
    </div>
    </ion-card>
    <ion-card>
      <ion-label>Badges</ion-label>
    </ion-card>


</ion-content>
