<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="toRewards()">
        My Rewards
      </ion-button>
    </ion-buttons>
    <ion-title>
      <strong>{{ currentUser.data.user.name }}</strong>'s Profile
    </ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true"> 
<ion-card>
        <img class="card-img-top rounded-circle img-fluid d-block center" style="width: 100px; height: 100px; object-fit: cover;" [src]=image alt="Profile Picture">
        
      
    <div class="centered">
      <div >
        <a style="font-size: 8px;" routerLink="/change-photo" routerDirection="forward">Edit Profile Picture</a>
      </div>
      <h3 class="name">{{ currentUser.data.user.name }}</h3>
    </div>
    </ion-card>
    <ion-card>
      <ion-item routerLink="/my-projects" routerDirection="forward">
        <ion-icon name="list" slot="start"></ion-icon>
        <ion-label>My Projects</ion-label>
      </ion-item>
    
      <ion-item href="https://google.com">
        <ion-icon name="cube" slot="start"></ion-icon>
        <ion-label>My Resources</ion-label>
      </ion-item>
  </ion-card>

  <div class="words">
    <ion-button class="ion-btn" expand="block" routerLink="/my-projects">Test</ion-button>
  </div>

</ion-content>
