<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)= back() style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload Resource Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <img class="background" src="assets/img/cover 5.jpg"/> -->
  <!-- <div class="centered center"> -->
  
  <ion-card>
    <ion-card-header>Upload a picture to serve as your resource picture!</ion-card-header>
    <ion-card-content>
      <form>
      <div>
        <input type="file" name="image1" (change)="selectImage($event)" />
        <ion-button type="submit" expand="block" (click)="onSubmit()">Upload</ion-button>
      </div>
    </form>
    </ion-card-content>
  </ion-card>

  <div *ngIf = "resourceType == 'venue'">
    <h4>Current Venue Images (Max. 10)</h4>
    <p *ngIf = "venueImages == undefined || venueImages.length ==0">You don't have any venue images yet. Start uploading now!</p>
    <ion-card *ngFor = "let v of venueImages">
      <div class="aligned">
        <img class="aligned card-img-top img-fluid d-block" style="width: 150px; height: 150px; object-fit: cover;" [src]=v.imgPath alt="Venue Image">
        <div>
          <p style='font-weight: bold;'>{{v.name}}</p>
          <ion-button style="fill: outline;" (click)="presentAlertConfirm($event, v.index)" >Remove</ion-button>
        </div> 
      </div>
    
    </ion-card>
  </div>
  <!-- </div> -->
  


</ion-content>
