<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-icon name="arrow-back" slot="start" (click)="back()" style="padding-left:10px"></ion-icon>-->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admins</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form name="form" (ngSubmit)="f.form.valid && search(words)" #f="ngForm" novalidate>
      <ion-item transparent>
          <div class="form-group">
            <ion-input type="text" placeholder="Search" name="words" [(ngModel)]="words" required></ion-input>
          </div>
      </ion-item>
      <div class="form-group">
        <ion-button expand="block" style = "margin-left: 10px; margin-right:10px;" (click)="search(words)">Search</ion-button>
      </div>
  
    </form>
    <ion-list >
      <ion-item *ngFor="let u of users" >
        <img class="card-img-top rounded-circle img-fluid d-block" style="width: 50px; height: 50px; object-fit: cover;" [src]=u.profilePic  alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
        <ion-title (click)="viewAdminProfile($event, u)">{{u.username}}</ion-title>
        <ion-toolbar >
          <ion-button class="add" (click)="add(u)" >Add Admin</ion-button>
        </ion-toolbar>
      </ion-item>
    </ion-list>
   
  </ion-card>
  <ion-card-title>Current Admins</ion-card-title>
    <ion-card *ngFor = "let a of admins">
      
      <div class="aligned">
      <img class="aligned card-img-top rounded-circle img-fluid d-block" style="width: 60px; height: 60px; object-fit: cover;" [src]=a.profilePic alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'">
      <ion-title (click)="viewAdminProfile($event, a)">{{a.username}}</ion-title>
      <ion-button style="float:right; fill: outline;" (click)="presentAlertConfirm($event, a)" >Remove</ion-button>
      </div>
     
    </ion-card>

</ion-content>
