<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Marketplace</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid fixed = "true">
    <ion-row>
      <ion-col class="col-center">
        <ion-button shape="round" fill="outline" size="large" class ="round-btn" routerLink="/view-marketplace-projects">
        <ion-icon name="list-sharp"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="col-center">
        <ion-button shape="round" fill="outline" size="large" class="round-btn" routerLink="/view-funding-needs">
        <ion-icon name="wallet-sharp"></ion-icon>
      </ion-button>
      </ion-col>
      <ion-col class="col-center">
        <ion-button shape="round" fill="outline" size="large" class="round-btn" routerLink="/view-marketplace-resources">
        <ion-icon name="cube-sharp"></ion-icon>
      </ion-button>
      </ion-col>
      <ion-col class="col-center">
        <ion-button shape="round" fill="outline" size="large" class="round-btn" routerLink="/view-marketplace-rewards">
        <ion-icon name="gift-sharp"></ion-icon>
      </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-center">
        <ion-label>Projects</ion-label>
      </ion-col>
      <ion-col class="col-center">
        <ion-label>Funding</ion-label>
      </ion-col>
      <ion-col class="col-center">
        <ion-label>Resources</ion-label>
      </ion-col>
      <ion-col class="col-center">
        <ion-label>Rewards</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        Please consider donating to the KoCosD platform! Any amount will go a long way in supporting our cause!
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Donate</ion-card-title>
          Total Payment
          <ion-label position="floating">Amount({{currency}} {{currencyIcon}}):</ion-label>
          <ion-input ngModel name="paymentAmount" placeholder="Enter amount to donate" [(ngModel)]="paymentAmount" required #inpaymentAmount="ngModel"></ion-input>
          <div class="alert-danger" *ngIf="inpaymentAmount.invalid">
            <div *ngIf="inpaymentAmount.errors.required">Name is required</div>
          </div>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithPaypal()">Pay with PayPal</ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <h4 style="text-align: center;" *ngIf="(fundingNeeds == undefined||fundingNeeds.length == 0) == false">These projects need your donations! DONATE NOW!</h4>
  <div style="text-align: center;" *ngIf="(fundingNeeds == undefined||fundingNeeds.length == 0) == true">
    <h4>There are no projects that require funding!</h4>
  </div>
  <ion-card *ngFor="let m of fundingNeeds">
    <div class="aligned">
      <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewFounderProfile($event, m)" style="width: 40px; height: 40px; object-fit: cover;" [src]=m.ownerImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
      <div>
        <div class = "aligned">
          <ion-label style="font-weight: bold" (click)="viewFounderProfile($event, m)">{{m.ownerName}}</ion-label>
          <ion-icon name="checkmark-circle" size="big"></ion-icon>
        </div>
        <ion-label>Project Founder</ion-label>
      </div> 
    </div>  
    <img [src]=m.imgPath alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
    <ion-card-header>
      <ion-card-title >{{m.fundingTitle}}</ion-card-title>
      <p style="font-weight: bold" (click)="viewProject($event, m)">{{m.title}}</p>
      <ion-badge style="padding-left: 5px" className="sdg{{sdg}}" *ngFor= "let sdg of m.SDGs">SDG {{sdg}}&nbsp;</ion-badge>
    </ion-card-header>
    <ion-card-content>
      
      <p>{{m.fundingDesc}}</p>
      <p>Total: ${{m.total}}</p>
      <p style="float: left">${{m.receivedSum}} raised</p>
      <p style="float: right">{{calculateProgress(m.total, m.receivedSum)}}%</p>
      <ion-progress-bar [value]="calculateProgress(m.total, m.receivedSum)/100"></ion-progress-bar>
      <p>Remaining Sum: ${{m.total - m.receivedSum - m.pendingSum}}</p>
      <p>Pending Sum: ${{m.pendingSum}}</p>
      <ion-card-subtitle>Created at: <ion-badge color="dark">{{formatDate(m.createdAt)}}</ion-badge></ion-card-subtitle>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-button (click)="contribute(m)">
          Donate
        </ion-button>
      </ion-fab>
    </ion-card-content>
  </ion-card> -->
</ion-content>
