/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-toast.toast-pass {
    opacity: 0.9;
    text-align: center;
    color: var(--ion-color-dark);
    --background: var(--ion-color-success);
  }

  ion-toast.toast-fail {
    opacity: 0.9;
    text-align: center;
    color: var(--ion-color-dark);
    --background: var(--ion-color-danger);
  }

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

img.inactive {
  opacity: 0.5;
}

.sdg1 {
  background-color: rgb(235, 28, 45, 0.99);
}

.sdg2 {
  background-color: rgb(211, 160, 41, 0.99);
}

.sdg3 {
  background-color: rgb(39, 155, 72, 0.99);
}

.sdg4 {
  background-color: rgb(135, 31, 51, 0.99);
}

.sdg5 {
  background-color: rgb(239, 64, 43, 0.99);
}

.sdg6 {
  background-color: rgb(0, 174, 217, 0.99);
}

.sdg7 {
  background-color: rgb(253, 183, 19, 0.99);
}

.sdg8 {
  background-color: rgb(143, 24, 56, 0.99);
}

.sdg9 {
  background-color: rgb(243, 109, 37, 0.99);
}

.sdg10 {
  background-color: rgb(225, 20, 132, 0.99);
}

.sdg11 {
  background-color: rgb(249, 157, 38, 0.99);
}

.sdg12 {
  background-color: rgb(207, 141, 42, 0.99);
}

.sdg13 {
  background-color: rgb(72, 119, 62, 0.99);
}

.sdg14 {
  background-color: rgb(0, 125, 188, 0.99);
}

.sdg15 {
  background-color: rgb(62, 176, 73, 0.99);
}

.sdg16 {
  background-color: rgb(2, 85, 139, 0.99);
}

.sdg17 {
  background-color: rgb(24, 54, 104, 0.99);
}

.manpowertype {
  background-color: rgb(95, 51, 20, 0.99)
}

.venuetype {
  background-color: rgb(0, 119, 190, 0.99);
}

.itemtype {
  background-color: rgb(248, 131, 121, 0.99);
}

.moneytype {
  background-color: rgb(0 ,139 ,0, 0.99);
}

.knowledgetype {
  background-color: rgb(148, 0, 211, 0.99);
}