<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end" (click)="presentPopover($event)">
      
      <ion-icon slot="icon-only" name="megaphone-sharp" style="padding-right: 10px;"></ion-icon>
      <ion-badge *ngIf="gotNotifs == true || gotNewAnnouncement == true" color="danger" style="position: absolute; right: 2px; top: -5px;">!</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-segment [(ngModel)]="pages" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="feed" checked>
          <ion-label>Feed</ion-label>
        </ion-segment-button>
        <ion-segment-button value="discover">
          <ion-label>Discover</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

  <ion-list [ngSwitch]="pages">
  <div *ngSwitchCase="'feed'">
    <div style="text-align: center;" *ngIf="(newsList == undefined||newsList.length == 0) == true">
      <h4>There are no new projects in your News Feed!</h4>
    </div>
  <ion-card  *ngFor="let n of newsList">
    <div class="aligned">
      <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewFounderProfile($event, n)" style="width: 40px; height: 40px; object-fit: cover;" [src]=n.ionicImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
      <div>
        <div class = "aligned">
          <ion-label style="font-weight: bold" (click)="viewFounderProfile($event, n)">{{n.hostName}}</ion-label>
          <ion-icon name="checkmark-circle" size="big"></ion-icon>
        </div>
        <ion-label>Project Founder</ion-label>
      </div> 
    </div> 
    <img [src]=n.imgPath alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
    <ion-card-header>
    <ion-card-title (click)="viewProject($event, n)">{{n.title}}</ion-card-title>
      <ion-badge style="padding-left: 5px" className="sdg{{sdg}}" *ngFor= "let sdg of n.SDGs">SDG {{sdg}}&nbsp;</ion-badge>
    </ion-card-header>
    <div>
      <ion-card-content>Project Description: {{n.desc}}<br>Country: {{n.country}}<br>Rating: {{n.rating}}<br>Created at: <ion-badge color="dark">{{formatDate(n.createdAt)}}</ion-badge></ion-card-content>
    </div>
    <ion-card-title></ion-card-title>
  </ion-card>
  </div>
  <div *ngSwitchCase="'discover'">
  <ion-list>
    <div style="text-align: center;" *ngIf="(discoverList == undefined||discoverList.length == 0) == true">
      <h4>There are no new discoveries in your Discover Weekly!</h4>
    </div>
    <ion-card *ngFor="let d of discoverList">
      <div class="aligned">
        <div style="padding: 10px 5px 10px 15px;"><img class="aligned card-img-top rounded-circle img-fluid d-block" (click)="viewFounderProfile($event, d)" style="width: 40px; height: 40px; object-fit: cover;" [src]=d.hostImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'"></div>
        <div>
          <div class = "aligned">
            <ion-label style="font-weight: bold" (click)="viewFounderProfile($event, d)">{{d.hostName}}</ion-label>
            <ion-icon name="checkmark-circle" size="big"></ion-icon>
          </div>
          <ion-label>Project Founder</ion-label>
        </div> 
      </div>
      <img [src]=d.imgPath alt="Project Picture" onerror="this.src='./assets/img/projects.jpg'">
      <ion-card-header>
      <ion-card-title (click)="viewProject($event, d)">{{d.title}}</ion-card-title>
        <ion-badge style="padding-left: 5px" className="sdg{{sdg}}" *ngFor= "let sdg of d.SDGs">SDG {{sdg}}&nbsp;</ion-badge>
      </ion-card-header>
      <div>
        <ion-card-content>Project Description: {{d.desc}}<br>Country: {{d.country}}<br>Rating: {{d.rating}}<br>Created at: <ion-badge color="dark">{{formatDate(d.createdAt)}}</ion-badge></ion-card-content>
      </div>
      <ion-card-title></ion-card-title>
    </ion-card>
  </ion-list>
</div>
</ion-list>
</ion-content>
