<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="back()">Back</ion-button>
    <ion-title style="text-align: middle;">Update Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="update(form)">
    <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input ngModel name="name" [(ngModel)]="user.name" required minlength="3" #inname="ngModel"></ion-input>
        <div class="alert-danger" *ngIf="form.submitted && inname.invalid">
          <div *ngIf="inname.errors.minlength">
            Name must be at least 3 characters
          </div>
        </div>
    </ion-item>

    <ion-item *ngIf="accountBoolean == true">
          
      <ion-label position="floating">Address</ion-label>
      <ion-input type="address" ngModel name="address" [(ngModel)]="user.address" required #inaddress="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inaddress.invalid"></div>
    </ion-item>

    <ion-item *ngIf="accountBoolean == false">
      <ion-label position="floating">Occupation</ion-label>
      <ion-input type="occupation" ngModel name="occupation" [(ngModel)]="user.occupation" required #inoccupation="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inoccupation.invalid">
      </div>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea ngModel name="bio" [(ngModel)]="user.bio" required #inbio="ngModel"></ion-textarea>
      <div class="alert-danger" *ngIf="form.submitted && inbio.invalid">
      </div>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Country</ion-label>
      <ion-input type="country" ngModel name="country" [(ngModel)]="user.country" required #incountry="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && incountry.invalid">
      </div>
    </ion-item>

    <ion-item>
          
      <ion-label position="floating">Website</ion-label>
      <ion-input type="website" ngModel name="website" [(ngModel)]="user.website" #inwebsite="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inwebsite.invalid"></div>
    </ion-item>

    <ion-item *ngIf="accountBoolean == false">
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" id="gender" name="gender" #ingender="ngModel" [(ngModel)]="user.gender" required="true">
        <ion-select-option *ngFor = "let g of genderList">{{g.g}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>SDGs</ion-label>
      <ion-select placeholder="Select Many" id="s" name="s" [(ngModel)]="sdgs" multiple="true">
        <ion-select-option *ngFor="let s of sdgsList" [value]="s.id">{{s.id}}-{{s.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="accountBoolean == true">
          
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="address" ngModel name="address" [(ngModel)]="user.phone" required #inphone="ngModel"></ion-input>
      <div class="alert-danger" *ngIf="form.submitted && inphone.invalid"></div>
    </ion-item>

    <ion-item *ngIf="accountBoolean == false">
      <ion-label position="floating">Enter your Skills(separated by commas. Eg: cooking, coding, data analytics)</ion-label>
      <ion-textarea ngModel name="skills" [(ngModel)]="user.skills" #inskills="ngModel"></ion-textarea>
      <div class="alert-danger" *ngIf="form.submitted && inskills.invalid">
      </div>
    </ion-item>


    
    <ion-button type="submit" expand="full" color="danger">Update</ion-button>
  </form>
</ion-content>
