
  .centered {
    text-align: center;
}

.back {
    margin-top: 20px;
}

.center {
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-49%, -49%);
  transform: translate(-49%, -49%);
  width: 90%;
}