<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mobile Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createQR()" fill="outline" style="padding-right: 10px;">
      My QR
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="accountType == 'user'">
    <h5 style="font-weight:bold;">Current Institution selected: {{institutionChoiceName}}</h5>
  </ion-item>
  <ion-item *ngIf="accountType == 'user'" (click)="chooseInstitution()">
    <ion-icon name="people-outline" slot="start"></ion-icon>
    <ion-label>Choose Institution on Card</ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanQR()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h5 *ngIf="haveCardBoolean == false" style="padding: 0px 10px;">You do not have any mobile contacts yet. Start scanning other KoCoSD user's QR code!</h5>
  <ion-card *ngFor="let c of cards">
    <div *ngIf="c.targetType == 'institution'">
      <div *ngIf="c.accountImg != ''">
        <img class="background" src="assets/img/card 4.png">
        <img class="img rounded-circle" style="width: 100px; height: 100px; object-fit: cover;" [src]=c.accountImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'" />
      </div>
      <img *ngIf="c.accountImg == ''" class="background" src="assets/img/card 2.png">
      <div class ="title">
        <ion-card-title style="color: black; font-weight:bold;">{{c.accountName}}</ion-card-title>
      </div>
      <div class="section">
      <h6><ion-icon name='mail' size="small" style="color:white;"></ion-icon>{{c.accountEmail}}</h6>
      <div *ngIf="c.accountWebsite !=''"><h6><ion-icon name="globe" size='small' style="color:white;"></ion-icon>{{c.accountWebsite}}</h6></div>
      <h6><ion-icon name="earth" size='small' style="color:white;"></ion-icon>{{c.accountCountry}}</h6>
      <div *ngIf="c.accountAddress !=''"><h6><ion-icon name="location" size='small' style="color:white;"></ion-icon>{{c.accountAddress}}</h6></div>
      <ion-badge *ngFor="let sdg of c.accountSDGs" className="sdg{{sdg}}">SDG{{sdg}}</ion-badge> 
      </div>
    </div>
    <div *ngIf="c.targetType == 'user' && c.institutionName != ''">
      <div *ngIf="c.institutionImg != ''">
        <img class="background" src="assets/img/card 4.png">
        <img class="img rounded-circle" style="width: 100px; height: 100px; object-fit: cover;" [src]=c.institutionImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'" />
      </div>
      <img *ngIf="c.institutionImg == ''" class="background" src="assets/img/card 2.png">
      <div class ="title">
        <ion-card-title style="color: black; font-weight: bold;">{{c.institutionName}}</ion-card-title>
        <ion-card-subtitle>{{c.institutionWebsite}}</ion-card-subtitle>
      </div>
      <div class="section">
        <ion-card-title style="font-weight: bold; color: white;">{{c.accountName}}</ion-card-title>
        <ion-card-title style="color: white;">{{c.accountOccupation}}</ion-card-title>
        <h6><ion-icon name='mail' size="small" style="color:white;"></ion-icon>{{c.accountEmail}}</h6>
        <div *ngIf="c.accountWebsite !=''"><h6><ion-icon name="globe" size='small' style="color:white;"></ion-icon>{{c.accountWebsite}}</h6></div>
        <h6><ion-icon name="earth" size='small' style="color:white;"></ion-icon>{{c.accountCountry}}</h6>
        <div *ngIf="c.institutionAddress !=''"><h6><ion-icon name="location" size='small' style="color:white;"></ion-icon>{{c.institutionAddress}}</h6></div>
        <ion-badge *ngFor="let sdg of c.accountSDGs" className="sdg{{sdg}}">SDG{{sdg}}</ion-badge> 
      </div>
    </div>
    <div *ngIf="c.targetType == 'user' && c.institutionName==''">
      <div *ngIf="c.accountImg != ''">
        <img class="background" src="assets/img/card 4.png">
        <img class="img rounded-circle" style="width: 100px; height: 100px; object-fit: cover;" [src]=c.accountImg alt="Profile Picture" onerror="this.src='./assets/img/profpic.png'" />
      </div>
      <img *ngIf="c.accountImg == ''" class="background" src="assets/img/card 2.png"> 
      <div class="section">
      <ion-card-title style="font-weight: bold; color: white;">{{c.accountName}}</ion-card-title>
      <ion-card-title style="color: white;">{{c.accountOccupation}}</ion-card-title>
      <h6><ion-icon name='mail' size="small" style="color:white;"></ion-icon>{{c.accountEmail}}</h6>
      <div *ngIf="c.accountWebsite !=''"><h6><ion-icon name="globe" size='small' style="color:white;"></ion-icon>{{c.accountWebsite}}</h6></div>
      <h6><ion-icon name="earth" size='small' style="color:white;"></ion-icon>{{c.accountCountry}}</h6>
      <ion-badge *ngFor="let sdg of c.accountSDGs" className="sdg{{sdg}}">SDG{{sdg}}</ion-badge> 
      </div>
    </div>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button slot="start" fill="clear" color=primary (click)="viewProfile(c.accountUsername, c.targetType)">View Profile</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button slot="end" fill="outline" color="danger" (click)="delete($event, c.id)"><ion-icon name="trash-outline"></ion-icon> Delete</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-card>
  <!-- <div *ngIf="scannedData">
    <p>
      Scanned Code Text : <b>{{ scannedData["text"] }}</b>
    </p>
    <p>
      Scanned Code Format : <b>{{ scannedData["format"] }}</b>
    </p>
  </div> -->
</ion-content>
