<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      {{ user.data.user.email }} - {{ user.data.user.name }}
    </ion-card-content>
  </ion-card>
  <div class="words">
    <ion-button class="ion-btn" expand="block" routerLink="/accountsettings">User Account Settings</ion-button>
  </div>
  
  <div>
    <ion-button expand="block" (click)="update()">Edit Profile</ion-button>
  </div>
  <div>
    <ion-button class="ion-btn" expand="block" routerLink="/request-verification">Request for Verification</ion-button>
  </div>
  <ion-button color= "danger" expand="block" (click)="logout()">Logout</ion-button>
 
</ion-content>